<div class="return_top"><a href="#">[ 返回顶部 ]</a></div>
<div class="foot_nav">
	<ul>
	  <li><a href="__ROOT__/">首页</a></li>
	  <li><a href="__APP__/ranking.html">黑榜排行</a></li>
	  <li><a href="__APP__/explist.html">网友曝光</a></li>
	  <li><a href="__APP__/regulators.html">监管机构</a></li>
	</ul>
</div>
<div class="wap">
	<span>
	<a href="__APP__/feedback.html">意见反馈</a>
	<a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip">APP下载</a>
	</span>
	<!-- <p>< <a href="#">触屏版</a> <a href="#">电脑版</a> ></p> -->
</div>