<!--底部--Begin-->     
   <div id="footer">
     <div class="footerbox">
          <dl class="copys">
              <dt><a href="index.html"><img src="__PUBLIC__/Home/images/logo.png"/></a></dt>
              <dd>
                 <p>Copyright © 2014 souhei.com 搜黑 版权所有 复制必究</p> 
                 <p>沪ICP备13040259号-1</p>
              </dd>
          </dl>
       <div class="zcjg">
         <a href="__APP__/home/About/about_us">关于我们</a>|<a href="__APP__/home/About/contact_us">联系我们</a>|<a href="__APP__/home/About/help_center">帮助中心</a></div>
     </div>
   </div>
<!--底部--End--> 

