 <div class="windows_ct" id="windows_ct">
    <div class="title_cts">
      <h3 class="titltes">插入图片</h3>
      <a class="close_gb">关闭</a>
    </div>
    <ul id="msg">
       <li>
         <div class="ct_tubox">
           <div class="tianjia">
             <a href="#">添加</a>
           </div>
           <p>添加图片</p>
         </div>
         <form name="uploadFrom" id="uploadFrom" target="tarframe" method="post" enctype="multipart/form-data" autocomplete="off">
           <a href="javascript:void(0)" class="upload-img">
           <label for="upload-file"></label>
         </a>
           <input name="file" type="file" class="x_file" id="upload-file" />
         </form>
         
       </li>
    </ul>
    <div class="tin_qq">
      <input name="" type="button" value="确认" class="x_queren" />
      <input name="" type="button" value="取消" class="x_qvxiao" />
    </div>
</div>