<include file="Public/header" />
<SCRIPT language=JavaScript>
function sousuo(){
	window.open("gaojisousuo.htm","","depended=0,alwaysRaised=1,width=800,height=510,location=0,menubar=0,resizable=0,scrollbars=0,status=0,toolbar=0");
}
function selectAll(){
	var obj = document.fom.elements;
	for (var i=0;i<obj.length;i++){
		if (obj[i].name == "delid"){
			obj[i].checked = true;
		}
	}
}

function unselectAll(){
	var obj = document.fom.elements;
	for (var i=0;i<obj.length;i++){
		if (obj[i].name == "delid"){
			if (obj[i].checked==true) obj[i].checked = false;
			else obj[i].checked = true;
		}
	}
}

function link(){
    document.getElementById("fom").action="addjihua.htm";
   document.getElementById("fom").submit();
}

function on_load(){
	var loadingmsg=document.getElementById("loadingmsg");
	var mainpage=document.getElementById("mainpage");
	loadingmsg.style.display="";
	mainpage.style.display="none";
	
	loadingmsg.style.display="none";
	mainpage.style.display="";
}
</SCRIPT>

<body onload="on_load()">
<form name="fom" id="fom" method="get">
<table id="mainpage" width="100%" border="0" cellspacing="0" cellpadding="0">

  <tr>
    <td height="30"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="62" background="__PUBLIC__/Admin/images/nav04.gif">
          
		   <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
		  <tr>
			<td width="21"><img src="__PUBLIC__/Admin/images/ico07.gif" width="20" height="18" /></td>
			<td width="550">查看内容：类别：
			 <select name="type" width="100px">
                         <option value=0>---请选择类别---</option>
                         <option value='002001' <if condition="'002001' eq $type">selected="selected"</if>>贵金属监管机构</option>
                         <option value='002002' <if condition="'002002' eq $type">selected="selected"</if>>外汇监管机构</option>
                         </select>
                         &nbsp;标题：<input type="text" name="title" value="{$title}"/>
			 <input name="submit" type="submit" class="right-button02" value="查 询" />
			 </td>
			 <td width="132" align="left">
       <a href="#" onclick="sousuo()">			   
         </a>
         </td>	
		  </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table id="subtree1" style="DISPLAY: " width="100%" border="0" cellspacing="0" cellpadding="0">

        <tr>
          <td><table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">

          	 <tr>
               <td height="20"><span class="newfont07">选择：<a href="#" class="right-font08" onclick="selectAll();">全选</a>-<a href="#" class="right-font08" onclick="unselectAll();">反选</a></span>
	             <input type="button" name="del_mul" value="批量删除" onclick="delete_mul();"/>
	             </td>
          	 </tr>
              <tr>
                <td height="40" class="font42"><table width="100%" border="0" cellpadding="4" cellspacing="1" bgcolor="#464646" class="newfont03">

                  <tr>
		    <td width="5%" align="center" bgcolor="#EEEEEE">选择</td>
                    <td width="10%" height="20" align="center" bgcolor="#EEEEEE">类别</td>
                    <td width="10%" height="20" align="center" bgcolor="#EEEEEE">标题</td>
                    <td width="10%" height="20" align="center" bgcolor="#EEEEEE">图片</td>
                    <td width="14%" align="center" bgcolor="#EEEEEE">操作</td>
                  </tr>

                  <volist name="list" id="item">
                  <tr align="center">
		    <td bgcolor="#FFFFFF"><input type="checkbox" name="id[]" value="{$item.id }"/>{$item.id}</td>
                    <td height="20" bgcolor="#FFFFFF">
                    <if condition="'002001' eq $item['type']">
                    	贵金属监管机构
                    <else />
                     	外汇监管机构
                    </if>
                    </td>
                    <td height="20" bgcolor="#FFFFFF">{$item.title}</td>
                    <td height="20" bgcolor="#FFFFFF"><img src="{$item.pic_url}" widht="25px" height="25px"/></td>
                    <td bgcolor="#FFFFFF">
                        <a href="__APP__/Soadmin/Regulators/edit/id/{$item.id}">编辑</a>|
                        <a href="javascript:request_get('__APP__/Soadmin/Regulators/delete/id/{$item.id}');" onclick="return confirmdel('确定要删除吗')">删除</a>
                     </td>
                  </tr>
                  </volist>

                </table></td>
              </tr>
            </table></td>
        </tr>
      </table>
      <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="6"><img src="__PUBLIC__/Admin/images/spacer.gif" width="1" height="1" /></td>
        </tr>
        <tr>
          <td colspan="5" align="right">{$page}</td>
        </tr>
</table>
</form>

<div id="loadingmsg" style="width:100px; height:18px; top:0px; display:none;">
	<img src="file:///F|/项目管理相关资料/项目管理系统页面/images/loadon.gif" />
</div>

</body>
</html>
<script type="text/javascript">
function delete_mul()
{
    if(!confirmdel('确定要删除吗'))
    {
        return;
    }

    var ajaxUrl = location.href;
    var obj = document.fom.elements;
    var params = '';
    for (var i=0;i<obj.length;i++){
            if (obj[i].name == "id[]"){
                    //obj[i].checked = true;
                    if (obj[i].checked) {
                        params += "&id[]="+obj[i].value;
                    }
            }
    }
    if ('' == params) {
        alert('请选择要删除的对象');
        return;
    }
    ajaxUrl+= "/del_mul/批量删除";
    jQuery.ajax({  
                type:"post",  
                url:ajaxUrl,
                timeout: 5000,
                data:params,
                dataType:"json",
                success: function aa(data) {
                    if (0 == data.status) {
                       popStatus(1, data.message, 2);
                       if ('' != data.jmp_url) {
                        setTimeout("location.href= '"+data.jmp_url+"'; ",3000);//延时3秒 
                        //location.href= data.jmp_url;
                       }
                    }
                    else
                    {
                      popStatus(4, data.status+','+data.message, 2);
                    }
                },
                error:function my_error(data){
                    popStatus(4, data.status+','+data.message, 2);
                }
	    });
}
</script>
