<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>找回密码--搜黑</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/main.css"/>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/main.js" ></script>
<script type="text/javascript" src="__PUBLIC__/js/Validform_v5.3.2.js" ></script>
<style type="text/css">
  .yzm{height: 45px;
       margin-left: 150px;
       width: 100px;}
  .aa{display: none;}
  .Validform_wrong{ color:#d70000 !important;}
  .Validform_right{ color:#A6E22A !important;}
</style>
</head>

<body>
<!--登录弹窗Begin-->      
<include file="User:login_ex" />
<!--登录弹窗end-->
<div id="wrap">

<!--头部--Begin-->   
  <div class="header_zc">
    <div class="header_box">
      <div class="zhuce_logo">
        <a href="__APP__/home" class="zhuce1"><img src="__PUBLIC__/Home/images/logo3.png"/></a>
        <a class="zhuce2">找回密码</a>
       </div>
      <div class="back_sy"><a href="__APP__/home">搜黑首页</a></div>
    </div>
  </div>
  
  
  <!--头部--End--> 

<!--内容--Begin-->     
  <div id="content_ny">
    <div class="zhucebox">
      <div class="zhuce_lt">
        <h2>&nbsp;</h2>
        <form class="registerform" name="theForm" method="post">
        <dl>
          <dt>手机号码：</dt>
          <dd>
                <input name="mobile" type="text" class="text1 mobile" datatype="m" ajaxurl="./../user/check_mobile_ex" nullmsg="请输入手机号码！" errormsg="输入的手机号码有误" />
                <p class="Validform_checktip">请填写注册的手机号</p>
          </dd>
        </dl>
        <dl>
          <dt>验证码：</dt>
          <dd>
               <input style="width:100px;margin-top: 5px;position: absolute;width: 104px;" name="tyyzm" type="text" class="text1 tyyzm" datatype="s4-4" nullmsg="请输入验证码！" errormsg="输入的验证码有误" />
               <img src="{$yzm}" class="yzm" id="index_01" title="点击刷新" onclick="this.src=this.src+'?'" />
               <!-- <img id="verifyImg" class="verify" src="__APP__/Home/User/verify_c" title="点击刷新" onclick="this.src=this.src+'?'" />  -->
               <p class="Validform_checktip">请填写验证码</p>
          </dd>
        </dl>
        <dl>
          <dt>&nbsp;</dt>
          <dd>
                <input style="width:130px;" name="" type="button" value="获取短信验证码" class="hqyzm" />
          </dd>
        </dl>
        <dl>
          <dt>&nbsp;</dt>
          <dd>
                <input style="display:none;" name="submit" type="submit" value="下一步" class="zhuce_bt1" />
          </dd>
        </dl>
        </form>
      </div>
      <div class="zhuce_rt">
       <p>想起密码，直接：</p>
       <a href="javascript:void(0)" class="yidel">登 录</a>
      </div>
    </div>
  </div>
<!--内容--End--> 

<!--底部--Begin-->     
   <div id="footer_zc">
                 <p>Copyright © 2014 souhei.com 搜黑 版权所有 复制必究</p> 
                 <p>沪ICP备13040259号-1</p>
   </div>
<!--底部--End--> 

</div>
<script type="text/javascript">
  $(function(){
    //表单验证
    $(".registerform").Validform({
        tiptype:function(msg,o,cssctl){
          if(!o.obj.is("form")){
            var objtip=o.obj.siblings(".Validform_checktip");
            cssctl(objtip,o.type);
            objtip.text(msg);
          }
        }
    });
    //传递手机号码
    $('.mobile').blur(function(){
              var yzm    = "{$yzm}";
              var mobile = $(this).parents('.zhuce_lt').find('.mobile').val();
              
              var url = yzm + mobile;
              $("#index_01").attr("src",url)
    });
    //获取手机验证码
    $('.hqyzm').click(function(){
              var mobile = $(this).parents('.zhuce_lt').find('.mobile').val();
              var tyyzm = $(this).parents('.zhuce_lt').find('.tyyzm').val();
              if (mobile == "") {
                 alert("手机号码不能为空！"); 
                 return false; 
              }
              if (tyyzm == "") {
                 alert("验证码不能为空！"); 
                 return false; 
              }
              jQuery.ajax({  
                  type:"post",  
                  url:"{$call_url}",
                  timeout: 5000,  
                  dataType:"json",  
                  data:{"method":"User.send_validate","type":"text",
                  "content":{"mobile":mobile,"imagecode":tyyzm}},
                  success: function aa(data) {  
                       if (200 == data.status_code && 0 == data.content.is_success) {
                            alert('发送成功！');//模拟异步数据加1
                            $(".zhuce_bt1").show();
                            return false;
                            //window.location.href="__APP__/home/User/modify_password"; 
                       }else{
                            alert('发送失败！');
                            return false;
                       }
                  }  
              })  
      });
  });
//urlencode数据转换
  function urlencode (str) {  
      str = (str + '').toString();   
      return encodeURIComponent(str).replace(/!/g, '%21').replace(/'/g, '%27').replace(/\(/g, '%28').  
      replace(/\)/g, '%29').replace(/\*/g, '%2A').replace(/%20/g, '+');  
  } 
</script>
</body>
</html>
