<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>找回密码--口碑</title>
<meta name="keywords" content="口碑，黑平台查询，黑平台曝光，贵金属黑平台，外汇黑平台"/>
<meta name="description" content="口碑是全国性的交易市场曝光平台,携手每一位投资人共同揭开交易市场的层层黑幕,为您提供全方位的贵金属、外汇、黄金、石油等行业交易黑幕的查询、曝光。"/>
<link rel="icon" href="__PUBLIC__/s.ico" type="image/x-icon" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/main.css"/>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/main.js" ></script>
<script type="text/javascript" src="__PUBLIC__/js/Validform_v5.3.2.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.form.js" ></script>
<style type="text/css">
  .Validform_wrong{ color:#FF3333 !important;}
  .Validform_right{ color:#66CC66 !important;}
</style>
</head>

<body>
<!--登录弹窗Begin-->      
<include file="User:login_ex" />
<!--登录弹窗end-->
<div id="wrap">

<!--头部--Begin-->   
  <div class="header_zc">
    <div class="header_box">
      <div class="zhuce_logo">
        <a href="__ROOT__/" class="zhuce1"><img src="__PUBLIC__/Home/images/logo3.png"/></a>
        <a class="zhuce2">找回密码</a>
       </div>
      <div class="back_sy"><a href="__ROOT__/">口碑首页</a></div>
    </div>
  </div>
  
  
  <!--头部--End--> 

<!--内容--Begin-->     
  <div id="content_ny">
    <div class="zhucebox">
             <div class="zhuce_lt">
             <h4 class="zaixiayb">我们已经将验证码发到您的手机上，请注意查收</h4>
             <form class="registerform" name="theForm" method="post">
                <dl>
                  <dt>验证码：</dt>
                  <dd>
                        <input name="message_code" type="text" class="text1"  datatype="n4-4" nullmsg="请输入手机验证码！" errormsg="输入的手机验证码有误" />
                        <p class="Validform_checktip">请输入收到的四位手机验证码</p>
                  </dd>
                </dl>
                <dl>
                  <dt>&nbsp;</dt>
                  <dd>
                        <input name="submit" type="submit" value="下一步" class="zhuce_bt1" />
                  </dd>
                </dl>
             </form>
             </div>
             <div class="zhuce_rt"><p>想起密码，直接：</p>
             <a href="javascript:void(0)" class="yidel">登 录</a></div> 
         </div>
         
    
  </div>
<!--内容--End--> 

<!--底部--Begin-->     
   <include file="footer" />
<!--底部--End--> 

</div>
<script type="text/javascript">
    //表单验证
    $(function(){
      $(".registerform").Validform({
        tiptype:function(msg,o,cssctl){
          if(!o.obj.is("form")){
            var objtip=o.obj.siblings(".Validform_checktip");
            cssctl(objtip,o.type);
            objtip.text(msg);
          }
        }
      });
    }); 
</script>
</body>
</html>
