<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<title>找回密码--口碑</title>
<meta name="keywords" content="口碑，黑平台查询，黑平台曝光，贵金属黑平台，外汇黑平台"/>
<meta name="description" content="口碑是全国性的交易市场曝光平台,携手每一位投资人共同揭开交易市场的层层黑幕,为您提供全方位的贵金属、外汇、黄金、石油等行业交易黑幕的查询、曝光。"/>
<link rel="icon" href="__PUBLIC__/s.ico" type="image/x-icon" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/wap_main.css"/>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/js/Validform_v5.3.2.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/app_mian.js" ></script>
</head>

<body>
<div class="dowm_app"><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip"><img src="__PUBLIC__/Home/imag/dowm_app.jpg" /></a></div>
<div class="sign">
  <h3>找回密码</h3>
</div>
<div class="sign_mm">
  <div class="two">
    <p>我们已经将验证码发到您的手机上，请输入四位数字</p>
    <form class="registerform one" name="theForm" method="post">
      <p><em>验证码:</em>
        <input name="message_code" type="text" class="text1"  datatype="n4-4" nullmsg="请输入手机验证码！" errormsg="输入的手机验证码有误" />
        <span class="Validform_checktip"></span>
      </p>
      <span><input name="submit" type="submit" value="下一步" class="zhuce_bt1" /></div>
    </form>
  </div>
  
<include file="Public:footer_wap" />
</body>
<script type="text/javascript">
    //表单验证
    $(function(){
      $(".registerform").Validform({
        tiptype:function(msg,o,cssctl){
          if(!o.obj.is("form")){
            var objtip=o.obj.siblings(".Validform_checktip");
            cssctl(objtip,o.type);
            objtip.text(msg);
          }
        }
      });
    }); 
</script>
</html>
