<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>找回密码--口碑</title>
<meta name="keywords" content="口碑，黑平台查询，黑平台曝光，贵金属黑平台，外汇黑平台"/>
<meta name="description" content="口碑是全国性的交易市场曝光平台,携手每一位投资人共同揭开交易市场的层层黑幕,为您提供全方位的贵金属、外汇、黄金、石油等行业交易黑幕的查询、曝光。"/>
<link rel="icon" href="__PUBLIC__/s.ico" type="image/x-icon" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/main.css"/>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/main.js" ></script>
<script type="text/javascript" src="__PUBLIC__/js/Validform_v5.3.2.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.form.js" ></script>
<style type="text/css">
  .yzm{height: 45px;
       margin-left: 5px;
       width: 100px;}
  .aa{display: none;}
  .Validform_wrong{ color:#FF3333 !important;}
  .Validform_right{ color:#66CC66 !important;}
</style>
</head>
<div class="yzsbai">
    <p id="tishi"></p>
    <input name="" type="button" value="确 定" class="xigs" />
</div>
<body>
<!--登录弹窗Begin-->      
<include file="User:login_ex" />
<!--登录弹窗end-->
<div id="wrap">

<!--头部--Begin-->   
  <div class="header_zc">
    <div class="header_box">
      <div class="zhuce_logo">
        <a href="__ROOT__/" class="zhuce1"><img src="__PUBLIC__/Home/images/logo3.png"/></a>
        <a class="zhuce2">找回密码</a>
       </div>
      <div class="back_sy"><a href="__ROOT__/">口碑首页</a></div>
    </div>
  </div>
  
  
  <!--头部--End--> 

<!--内容--Begin-->     
  <div id="content_ny">
    <div class="zhucebox">
      <div class="zhuce_lt">
        <h2>&nbsp;</h2>
        <form class="registerform">
        <dl>
          <dt>手机号码：</dt>
          <dd>
                <input name="mobile" type="text" class="text1 mobile" datatype="m" nullmsg="请输入手机号码！" errormsg="输入的手机号码有误" autocomplete="off" />
                <p class="Validform_checktip" id="mobile_ex">请填写注册的手机号</p>
          </dd>
        </dl>
        <dl>
          <dt>&nbsp;</dt>
          <dd>
                <input style="width:130px;float: left;margin-top: 3px; position: relative;width: 102px;" name="" type="button" value="获取验证码" class="hqyzm" />
                <img src="{$yzm}" class="yzm" id="index_01" title="点击刷新" onclick="this.src=this.src+'&?'" />
          </dd>
        </dl>
        <dl>
          <dt>验证码：</dt>
          <dd>
               <input style="width:230px;position: absolute;" name="tyyzm" type="text" class="text1 tyyzm" datatype="s4-4" nullmsg="请输入验证码！" errormsg="输入的验证码有误" autocomplete="off"/>
               <p class="Validform_checktip">请填写验证码</p>
          </dd>
        </dl>        
        <dl>
          <dt>&nbsp;</dt>
          <dd>
                <input name="button" type="button" value="下一步" class="zhuce_bt1" />
          </dd>
        </dl>
        </form>
      </div>
      <div class="zhuce_rt">
       <p>想起密码，直接：</p>
       <a href="javascript:void(0)" class="yidel">登 录</a>
      </div>
    </div>
  </div>
<!--内容--End--> 

<!--底部--Begin-->     
   <include file="footer" />
<!--底部--End--> 

</div>
<script type="text/javascript">
  $(function(){
    //表单验证
    $(".registerform").Validform({
        tiptype:function(msg,o,cssctl){
          if(!o.obj.is("form")){
            var objtip=o.obj.siblings(".Validform_checktip");
            cssctl(objtip,o.type);
            objtip.text(msg);
          }
        }
    });
    //获取验证码
    $(".yzm").hide(); 
    $('.hqyzm').click(function(){
      var mobile_ex = document.getElementById("mobile_ex").innerHTML;
      if (mobile_ex == "验证通过！") {
        $(".yzm").show(); 
      }else{
        $(".yzm").hide(); 
      }
    });
    //传递手机号码
    $('.mobile').blur(function(){
              var yzm    = "{$yzm}";
              var mobile = $(this).parents('.zhuce_lt').find('.mobile').val();
              
              var url = yzm + mobile;
              $("#index_01").attr("src",url)
    });
    //获取手机验证码
    $('.zhuce_bt1').click(function(){
              var objButton  = $(this);
              var mobile = $(this).parents('.zhuce_lt').find('.mobile').val();
              var imagecode = $(this).parents('.zhuce_lt').find('.tyyzm').val();
              if (mobile == "") {
                  $('#tishi').text("手机号码不能为空！");
                  $(".bd_wd").css("width", $(document).width());
                  $(".bd_wd").css("height", $(document).height());
                  $(".bd_wd").show();
                  $(".yzsbai").show();
                  return false;
              }
              if (imagecode == "") {
                  $('#tishi').text("验证码不能为空！");
                  $(".bd_wd").css("width", $(document).width());
                  $(".bd_wd").css("height", $(document).height());
                  $(".bd_wd").show();
                  $(".yzsbai").show();
                  return false;
              }
              jQuery.ajax({  
                  type:"post",  
                  url:"__URL__/find_password/mobile/"+mobile+"/imagecode/"+imagecode+"",
                  timeout: 5000,  
                  dataType:"json", 
                  contentType: "application/x-www-form-urlencoded; charset=utf-8",
                  data:{
                      mobile:mobile,
                      imagecode:imagecode,
                  },
                  beforeSend:function(){
                      objButton.val('下一步').attr('disabled',true);
                  },
                  success: function aa(data) { 
                      if (data == 0) {
                        window.location.href="{:U('find_password_ex')}"; 
                      }else if (data == -1) {
                        $('#tishi').text("手机验证码发送失败！");
                        $(".bd_wd").css("width", $(document).width());
                        $(".bd_wd").css("height", $(document).height());
                        $(".bd_wd").show();
                        $(".yzsbai").show();
                        return false;
                      } 
                  },
                  complete:function(){
                      objButton.val('下一步').attr('disabled',false);
                  }  
              })      
      });
  });
//urlencode数据转换
  function urlencode (str) {  
      str = (str + '').toString();   
      return encodeURIComponent(str).replace(/!/g, '%21').replace(/'/g, '%27').replace(/\(/g, '%28').  
      replace(/\)/g, '%29').replace(/\*/g, '%2A').replace(/%20/g, '+');  
  } 
</script>
</body>
</html>
