<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
</body>
<title>找回密码--口碑</title>
<meta name="keywords" content="口碑，黑平台查询，黑平台曝光，贵金属黑平台，外汇黑平台"/>
<meta name="description" content="口碑是全国性的交易市场曝光平台,携手每一位投资人共同揭开交易市场的层层黑幕,为您提供全方位的贵金属、外汇、黄金、石油等行业交易黑幕的查询、曝光。"/>
<link rel="icon" href="__PUBLIC__/s.ico" type="image/x-icon" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/wap_main.css"/>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/js/Validform_v5.3.2.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/mh_dialog.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/app_mian.js" ></script>
</head>

<body>
<div class="dowm_app"><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip"><img src="__PUBLIC__/Home/imag/dowm_app.jpg" /></a></div>
<div class="sign">
  <h3>找回密码</h3>
</div>
<div class="sign_mm">
  <form class="one">
    <p><em>手机号码:</em>
      <input name="mobile" type="text" class="text1 mobile" datatype="m" nullmsg="请输入手机号码！" errormsg="输入的手机号码有误" autocomplete="off" />
      <span class="Validform_checktip" id="mobile_ex"></span>
    </p>
    <p class="p_yzm">
       <a href="javascript:void(0)" class="obtain hqyzm">获取验证码</a>
       <img src="{$yzm}" class="yzm verify" id="index_01" title="点击刷新" onclick="this.src=this.src+'&?'" />
    </p>
    <p><em>验证码:</em>
      <input name="tyyzm" type="text" class="text1 tyyzm" datatype="s4-4" nullmsg="请输入验证码！" errormsg="输入的验证码有误" autocomplete="off"/>
      <span class="Validform_checktip"></span>
    </p>
    <span><input name="button" type="button" value="下一步" class="zhuce_bt1" /></span>
  </form>
</div>

<include file="Public:footer_wap" />
</body>
<script type="text/javascript">
  $(function(){
    //表单验证
    $(".one").Validform({
        tiptype:function(msg,o,cssctl){
          if(!o.obj.is("form")){
            var objtip=o.obj.siblings(".Validform_checktip");
            cssctl(objtip,o.type);
            objtip.text(msg);
          }
        }
    });
    //获取验证码
    $(".yzm").hide(); 
    $('.hqyzm').click(function(){
      var mobile_ex = document.getElementById("mobile_ex").innerHTML;
      if (mobile_ex == "验证通过！") {
        $(".yzm").show(); 
      }else{
        $(".yzm").hide(); 
      }
    });
    //传递手机号码
    $('.mobile').blur(function(){
              var yzm    = "{$yzm}";
              var mobile = $(this).parents('.sign_mm').find('.mobile').val();
              
              var url = yzm + mobile;
              $("#index_01").attr("src",url)
    });
    //获取手机验证码
    $('.zhuce_bt1').click(function(){
              var objButton  = $(this);
              var mobile = $(this).parents('.sign_mm').find('.mobile').val();
              var imagecode = $(this).parents('.sign_mm').find('.tyyzm').val();
              if (mobile == "") {
                  mh_dialogShow('mh_warning','手机号码不能为空！',2,true);
                  return false;
              }
              if (imagecode == "") {
                  mh_dialogShow('mh_warning','验证码不能为空！',2,true);
                  return false;
              }
              $.ajax({  
                  type:"post",  
                  url:"__URL__/find_password/mobile/"+mobile+"/imagecode/"+imagecode+"",
                  timeout: 5000,  
                  dataType:"json", 
                  contentType: "application/x-www-form-urlencoded; charset=utf-8",
                  data:{
                      mobile:mobile,
                      imagecode:imagecode,
                  },
                  beforeSend:function(){
                      objButton.val('下一步').attr('disabled',true);
                  },
                  success: function aa(data) { 
                      if (data == 0) {
                        window.location.href="{:U('find_password_ex')}"; 
                      }else if (data == -1) {
                        mh_dialogShow('mh_warning','手机验证码发送失败！',2,true);
                        return false;
                      } 
                  },
                  complete:function(){
                      objButton.val('下一步').attr('disabled',false);
                  }  
              })      
      });
  });
</script>
</html>
