<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>找回密码--搜黑</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/main.css"/>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/main.js" ></script>
</head>

<body>
<!--登录弹窗Begin-->      
<include file="User:login_ex" />
<!--登录弹窗end-->
<div id="wrap">

<!--头部--Begin-->   
  <div class="header_zc">
    <div class="header_box">
      <div class="zhuce_logo">
        <a href="__APP__/home/" class="zhuce1"><img src="__PUBLIC__/Home/images/logo3.png"/></a>
        <a class="zhuce2">找回密码</a>
       </div>
      <div class="back_sy"><a href="__APP__/home/">搜黑首页</a></div>
    </div>
  </div>
  
  
  <!--头部--End--> 

<!--内容--Begin-->     
  <div id="content_ny">
    <div class="zhucebox">
             <div class="zhuce_lt">
             <h2>&nbsp;</h2>
                <dl>
                  <dt>新密码：</dt>
                  <dd>
                        <input name="new_pswd" type="password" class="text1 new_pswd" />
                        <p>6-16个字符,区分大小写</p>
                  </dd>
                </dl>
                <dl>
                  <dt>再次输入：</dt>
                  <dd>
                        <input name="new_pswd_ex" type="password" class="text1 new_pswd_ex" />
                        <p>请再次输入登录密码</p>
                  </dd>
                </dl>
                <dl>
                  <dt>&nbsp;</dt>
                  <dd>
                        <input name="button" type="button" value="完成" class="zhuce_bt1" />
                  </dd>
                </dl>
             
             </div>
             <div class="zhuce_rt"><p>想起密码，直接：</p>
                <a href="javascript:void(0)" class="yidel">登 录</a>
             </div>   
         </div>  
  </div>
<!--内容--End--> 

<!--底部--Begin-->     
   <div id="footer_zc">
                 <p>Copyright © 2014 souhei.com 搜黑 版权所有 复制必究</p> 
                 <p>沪ICP备13040259号-1</p>
   </div>
<!--底部--End--> 

</div>
<script>
  $(function(){
      //获取手机验证码
      $('.zhuce_bt1').click(function(){
                var mobile      = "{$mobile}";
                var smscode     = "{$message_code}";
                var new_pswd    = $(this).parents('.zhuce_lt').find('.new_pswd').val();
                var new_pswd_ex = $(this).parents('.zhuce_lt').find('.new_pswd_ex').val();
                if (new_pswd == "") {
                  alert('新密码不能为空！');
                  return false;
                }else if(new_pswd.length < 6){
                  alert('密码不能小于6个字符,区分大小写');
                  return false;
                }else if(new_pswd.length > 16 ){
                  alert('密码不能大于16个字符,区分大小写');
                  return false;
                }
                if (new_pswd == "") {
                  alert('确认密码不能为空');
                  return false;
                }else if (new_pswd != new_pswd_ex) {
                  alert('两次输入的密码不一致');
                  return false;
                }
                //return false;
                jQuery.ajax({  
                    type:"post",  
                    url:"{$call_url}",
                    timeout: 5000,  
                    dataType:"json",  
                    data:{"method":"User.find_passwd","type":"text",
                    "content":{"mobile":mobile,"smscode":smscode,"new_pswd":new_pswd}},
                    success: function aa(data) {  
                         if (200 == data.status_code) {
                            if (0 == data.content.is_success) {
                              alert('密码修改成功！');
                              window.location.href="__APP__/home/Index/index"; 
                              return false;
                              
                            }else if(-1 == data.content.is_success){
                              alert('密码修改失败！');
                              window.location.href="__APP__/home/User/modify_password"; 
                              return false;
                            }else if(-3 == data.content.is_success){
                              alert('短信验证码不正确！');
                              window.location.href="__APP__/home/User/modify_password"; 
                              return false;

                            }else if(-4 == data.content.is_success){
                              alert('手机号码不存在');
                              window.location.href="__APP__/home/User/modify_password"; 
                              return false;

                            }else{
                              alert('密码修改失败，请重试！')
                              window.location.href="__APP__/home/User/modify_password"; 
                              return false;
                            }
                         }
                         else{
                              alert('密码修改失败！');
                              window.location.href="__APP__/home/User/modify_password"; 
                              return false;
                         }
                    }  
                })  
      });  
  });
    
    
</script>
</body>
</html>
