<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<title>找回密码--口碑</title>
<meta name="keywords" content="口碑，黑平台查询，黑平台曝光，贵金属黑平台，外汇黑平台"/>
<meta name="description" content="口碑是全国性的交易市场曝光平台,携手每一位投资人共同揭开交易市场的层层黑幕,为您提供全方位的贵金属、外汇、黄金、石油等行业交易黑幕的查询、曝光。"/>
<link rel="icon" href="__PUBLIC__/s.ico" type="image/x-icon" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/wap_main.css"/>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/mh_dialog.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/app_mian.js" ></script>
</head>

<body>
<div class="dowm_app"><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip"><img src="__PUBLIC__/Home/imag/dowm_app.jpg" /></a></div>
<div class="sign">
  <h3>找回密码</h3>
</div>
<div class="sign_mm">
  <form class="one">
    <p><em>新密码:</em>
      <input name="new_pswd" type="password" class="new_pswd" />
    </p>
    <p><em>确认密码:</em>
      <input name="new_pswd_ex" type="password" class="new_pswd_ex" />
    </p>
  </form>
  <span><a class="zhuce_bt1" href="javascript:void(0)">保存密码</a></span></div>
<include file="Public:footer_wap" />
</body>
<script>
  $(function(){
      //获取手机验证码
      $('.zhuce_bt1').click(function(){
                var mobile      = "{$mobile}";
                var smscode     = "{$message_code}";
                var new_pswd    = $(this).parents('.sign_mm').find('.new_pswd').val();
                var new_pswd_ex = $(this).parents('.sign_mm').find('.new_pswd_ex').val();
                if (new_pswd == "") {
                  mh_dialogShow('mh_warning','新密码不能为空！',2,true);
                  return false;
                }else if(new_pswd.length < 6){
                  mh_dialogShow('mh_warning','密码不能小于6个字符,区分大小写!',2,true);
                  return false;
                }else if(new_pswd.length > 16 ){
                  mh_dialogShow('mh_warning','密码不能大于16个字符,区分大小写!',2,true);
                  return false;
                }
                if (new_pswd_ex == "") {
                  mh_dialogShow('mh_warning','确认密码不能为空！',2,true);
                  return false;
                }else if (new_pswd != new_pswd_ex) {
                  mh_dialogShow('mh_warning','两次输入的密码不一致！',2,true);
                  return false;
                }
                $.ajax({  
                    type:"post",  
                    url:"{$call_url}",
                    timeout: 5000,  
                    dataType:"json",  
                    data:{"method":"User.find_passwd","type":"text",
                    "content":{"mobile":mobile,"smscode":smscode,"new_pswd":new_pswd}},
                    success: function aa(data) {  
                         if (200 == data.status_code) {
                            if (0 == data.content.is_success) { 
                              mh_dialogShow('mh_success','密码修改成功！',2,true,'__ROOT__/');
                              return false;                              
                            }else if(-1 == data.content.is_success){
                              mh_dialogShow('mh_warning','密码修改失败！',2,true);
                              return false;
                            }else if(-3 == data.content.is_success){
                              mh_dialogShow('mh_warning','短信验证码不正确！',2,true);
                              return false;
                            }else if(-4 == data.content.is_success){
                              mh_dialogShow('mh_warning','手机号码不存在！',2,true);
                              return false;
                            }else{
                              mh_dialogShow('mh_warning','密码修改失败，请重试！',2,true);
                              return false;
                            }
                         }
                         else{
                              mh_dialogShow('mh_warning','密码修改失败！',2,true);
                              return false;
                         }
                    }  
                })  
      });  
  });
    
    
</script>
</html>
