body {
    overflow-x:auto;
}
.widget-box {
    width: 1283px;
}

.topic {
    height: 30px;
    padding: 10px;
}

    .topic .topic_tit {
        line-height: 30px;
        float: left;
        display: block;
        width: 70px;
    }

    .topic .topic_txt {
        line-height: 30px;
        float: left;
        display: block;
    }

    .topic .topic_inp {
        float: left;
        width: 710px;
        display: none;
    }

    .topic .btn {
        margin-left: 10px;
    }

.send_live {
    width: 69%;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    height: 250px;
    float: left;
    margin-left: 3px;
}

.send_inter {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e0e0e0;
    height: 250px;
    width: 30%;
    float: right;
    margin-right: 3px;
}

    .send_live h2, .send_inter h2 {
        border-left: 2px solid #878787;
        color: #bc6600;
        font-family: "微软雅黑";
        font-size: 16px;
        height: 21px;
        line-height: 21px;
        margin: 11px 0 10px;
        padding-left: 12px;
    }

    .send_live .send_live_btnbox, .send_inter .send_inter_btnbox {
        margin-top: 10px;
        margin-left: 20px;
    }

.cl {
    clear: both;
}

.live {
    margin-top: 20px;
    border-bottom: 1px solid #cdcdcd;
}

.nav-tabs {
    margin-bottom: 0;
}

.tab-pane {
    height: 1000px;
    background-color: #fff;
    padding: 20px 20px 0 20px;
    word-break: break-all;
    word-wrap: break-word;
}

.tab-content {
    overflow: hidden;
}

.top {
    overflow: hidden;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.inter_menu {
    margin-bottom: 5px;
    line-height: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

    .inter_menu a {
        margin-left: 10px;
    }

.top li .top50 {
    background-color: #ebf7fc;
    color: #2972aa;
    display: block;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}

.top li .top_no {
    background-color: #f3f3f3;
    color: #999;
    cursor: default;
}

.inter_con {
    height: 934px;
    overflow: auto;
    margin-top: 10px;
}

    .inter_con li {
        border-bottom: 1px dashed #ccc;
        padding: 10px;
    }

    .inter_con .shenhed {
        background-color: #ebf7fc;
    }

    .inter_con .name {
        display: inherit;
        height: 24px;
        line-height: 24px;
        overflow: hidden;
    }

    .inter_con .time {
        color: #999;
        font-family: Arial,Helvetica,sans-serif;
        height: 24px;
        line-height: 24px;
        overflow: hidden;
        text-align: right;
        width: 100px;
    }

    .inter_con li b {
        color: #666;
    }

    .inter_con .tea {
        color: #ed680f;
    }

    .inter_con .shenghe {
        background-color: #dbe6eb;
        color: #6592a6;
        padding: 1px 8px;
        font-size: 12px;
        float: left;
    }

    .inter_con .shenhe_ckb {
        float: left;
    }

    .inter_con .con_txt {
        margin-bottom: 10px;
    }

        .inter_con .con_txt .con_yinyong {
            color: #a3a3a3;
        }

    .inter_con .shenghe_menu {
        float: left;
        margin-left: 5px;
    }

        .inter_con .shenghe_menu a {
            font-size: 12px;
        }

.live_his_menu {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

    .live_his_menu .time_box {
        font-size: 14px;
    }

        .live_his_menu .time_box select,.live_his_menu .time_box input {
            margin-bottom: 2px;
        }

        .live_his_menu .time_box .text {
            margin-left: 30px;
        }
        .live_his_menu .time_box .time {
            width:120px;
            cursor:pointer;
        }

.live_his_top {
    color: #333;
    font-size: 14px;
    margin-bottom: 15px;
}

    .live_his_top li {
        clear: left;
        padding: 15px 0;
        position: relative;
        z-index: 1;
        display:inline-block;
    }

    .live_his_top .flag {
        background: url("/Content/img/TeacherRoom/newroom_04.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        height: 40px;
        position: absolute;
        right: 0;
        top: 15px;
        width: 43px;
        z-index: 2;
    }

    .live_his_top .avatar_box {
        display: block;
        float: left;
        height: 91px;
        width: 73px;
    }

    .live_his_top .avatar {
        border: 1px solid #dfdfdf;
        height: 67px;
        padding: 2px;
        width: 67px;
    }

    .live_his_top .avatar_img {
        width: 67px;
        height: 67px;
    }

    .live_his_top p {
        color: #666;
        font-weight: bold;
        line-height: 20px;
        text-align: center;
    }

    .live_his_top .con_box {
        background-color: #ebf7fc;
        border: 1px solid #c6e9f8;
        border-radius: 2px;
        display: inline-block;
        float: left;
        height: auto;
        margin-left: 22px;
        position: relative;
    }

        .live_his_top .con_box .jt {
            background: url("/Content/img/TeacherRoom/newroom_02.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
            height: 15px;
            left: -9px;
            position: absolute;
            top: 15px;
            width: 9px;
        }

        .live_his_top .con_box .txt_box {
            color: #333;
            float: left;
            font-size: 14px;
            line-height: 22px;
            padding: 8px 12px;
            width: 1122px;
        }

        .live_his_top .con_box .txt {
            word-break: break-all;
            word-wrap: break-word;
            min-height: 30px;
            overflow: hidden;
            padding-right: 8px;
        }

        .live_his_top .con_box .time {
            clear: both;
            color: #999;
            font-family: Arial,"宋体";
            font-size: 12px;
            height: 20px;
            line-height: 20px;
            padding-top: 8px;
        }

        .live_his_top .con_box .menu {
            padding-top: 8px;
            font-size: 12px;
        }

.live_his_top_btn {
    margin-bottom: 10px;
}

.live_his_list {
    word-break: break-all;
    word-wrap: break-word;
    height: 684px;
    overflow-y:scroll;
}

    .live_his_list li {
        clear: left;
        padding: 15px 0;
        position: relative;
        z-index: 1;
        display: inline-block;
    }

    .live_his_list .flag {
        background: url("/Content/img/TeacherRoom/czjy.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        height: 19px;
        position: absolute;
        bottom: 15px;
        right: 0;
        width: 55px;
        z-index: 2;
    }

    .live_his_list .avatar_box {
        display: block;
        float: left;
        height: 91px;
        width: 73px;
    }

    .live_his_list .avatar {
        border: 1px solid #dfdfdf;
        height: 67px;
        padding: 2px;
        width: 67px;
    }

    .live_his_list .avatar_img {
        width: 67px;
        height: 67px;
    }

    .live_his_list p {
        color: #666;
        font-weight: bold;
        line-height: 20px;
        text-align: center;
    }

    .live_his_list .con_box {
        border: 1px solid #e7e7e7;
        border-radius: 2px;
        display: inline-block;
        float: left;
        height: auto;
        margin-left: 22px;
        position: relative;
    }

        .live_his_list .con_box .jt {
            background: url("/Content/img/TeacherRoom/newroom_03.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
            height: 15px;
            left: -9px;
            position: absolute;
            top: 15px;
            width: 9px;
        }

        .live_his_list .con_box .txt_box {
            color: #333;
            float: left;
            font-size: 14px;
            line-height: 22px;
            padding: 8px 12px;
            width: 1103px;
        }

            .live_his_list .con_box .txt_box .yinyong {
                width: 1096px;
                line-height: 20px;
                background-color: #f6f6f6;
                color: #999;
                font-size: 14px;
                padding: 3px 5px;
                margin-bottom: 5px;
            }

                .live_his_list .con_box .txt_box .yinyong img {
                    vertical-align:initial;
                }
            .live_his_list .con_box .txt_box .txt {
                word-break: break-all;
                word-wrap: break-word;
                min-height: 30px;
                overflow: hidden;
                padding-right: 8px;
            }

                .live_his_list .con_box .txt_box .txt img {
                    cursor: pointer;
                    vertical-align:initial;
                }

            .live_his_list .con_box .txt_box .time {
                clear: both;
                color: #999;
                font-family: Arial,"宋体";
                font-size: 12px;
                height: 20px;
                line-height: 20px;
                padding-top: 8px;
            }

            .live_his_list .con_box .txt_box .menu {
                padding-top: 8px;
                font-size: 12px;
            }
