<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>口碑手机客户端下载-口碑iphone、android客户端下载-口碑网</title>
<meta name="keywords" content="口碑客户端,口碑iphone客户端,口碑android客户端"/>
<meta name="description" content="口碑手机客户端下载，口碑手机客户端有全国最大的外汇投资资料信息库，客观、公正、权威、真实。"/>
<link rel="icon" href="__PUBLIC__/s.ico" type="image/x-icon" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/main.css"/>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/main.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.form.js" ></script>
</head>

<body class="appbox">
<!--Begin--登录-->   
<include file="Public:login" />
<!--End--登录--> 
<div id="wrap">

<!--头部--Begin-->   
  <include file="Public:top" />
<!--头部--End--> 

<div class="banner_app">
	<div class="banner_app_box">
    	<div class="banner_app_ch">
        	<a href="http://koubei365.com.cn/Public/down/android/souhei.apk" class="android">下载Android版</a>
            <a href="https://appsto.re/cn/n1_T8.i" class="iphone">下载IPhone版</a>
            <span><img src="__PUBLIC__/Home/images/code_app.png"></span>
        </div>
    </div>	
</div>
<div class="app_content"></div>
<!--底部--Begin-->     
   <include file="Public:footer" />
<!--底部--End--> 

</div>
</body>
</html>
