
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>公告管理</title>
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/css/unicorn.main.css" />
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/css/unicorn.jcs.css" class="skin-color" />
    <link href="__PUBLIC__/Azureadmin/Scripts/Lib/artDialog/skins/twitter.css" rel="stylesheet"/>
    <link href="__PUBLIC__/Azureadmin/Content/css/global.css" rel="stylesheet"/>    
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/NoticeManager/index.css" />
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/css/uniform.css" />

</head>
<body>
    <link href="__PUBLIC__/Azureadmin/Content/Home/_partialhead.css" rel="stylesheet" />
    <link href="__PUBLIC__/Azureadmin/Content/ComMessage/commessage.css" rel="stylesheet" />
    <script src="__PUBLIC__/Azureadmin/Scripts/Lib/jquery.js" type="text/javascript"></script>
    <script src="__PUBLIC__/Azureadmin/Scripts/Home/_partialhead.js" type="text/javascript"></script>
    <script src="__PUBLIC__/Azureadmin/Scripts/ComMessage/ComMessage-common.js"></script>

<div id="header">
    <h1><span>机构服务平台</span></h1>
</div>

<include file="Public:welcome" />

<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        
        
        <li><a href="/Home/HelpPage" target="_blank"><span class="text">帮助</span></a></li>
    </ul>
</div>

   <include file="Public:navigate" />
    
    <div id="content">
        <div id="breadcrumb"><a href="/Home/Index"><i class="icon-home"></i>欢迎</a><a href="/NoticeManager/Index" class="current">公告管理</a></div>
        
        <div class="container-fluid">
            
<div class="widget-box">
    <div class="widget-title">
        <h5>公告管理</h5>
        <button onclick="a()" class="btn btn-primary btn-mini top_r">增加</button>
        <button onclick="d()" class="btn btn-mini top_r">刷新</button>
    </div>
    <div class="widget-content nopadding">
        <div id="grid">
            <table class="table table-bordered data-table dataTable">
                <thead>
                    <th class="ui-state-default width1">编号</th>
                    <th class="ui-state-default">标题</th>
                    <th class="ui-state-default">内容</th>
                    <th class="ui-state-default width2">状态</th>
                    <th class="ui-state-default width3">时间</th>
                    <th class="ui-state-default">机构</th>
                </thead>
                <tbody>
                <volist name="list" id="item">
                    <tr>
                        <td>{$item.FMId}</td>
                        <td>{$item.FMTitle}</td>
                        <td>
                        <a href="javascript:;" onclick="e({$item.FMId})">{$item.FMCon}</a>
                        </td>                        
                        <td>
                        <if condition="$item.FMFlag eq 0">
                            <span style="color:orange">未同步</span>
                        <elseif condition="$item.FMFlag eq 1" />
                            <span style="color:green">已同步</span>
                        <else />
                            <span style="color:red">同步失败</span>
                        </if>
                        </td>
                        <td>
                        {$item.FMTime}
                        </td>
                        <td>
                        <if condition="$item.FMComId eq 0">
                        全部
                        <else />

                        <a href="javascript:;" onclick="f(this.innerHTML)"></a>
                        
                        </if>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
    
            <div class="dataTables_wrapper">
                <div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix">
                    <div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers">
                        <a href="javascript:;" class="first ui-corner-tl ui-corner-bl fg-button ui-button ui-state-default ui-state-disabled" title="首页" >首页</a>
                        <span>
                            <a currpage="1" class="fg-button ui-button ui-state-default ui-state-disabled" href="javascript:;" title="第1页">1</a>
                        </span>
                        <a href="javascript:;" class="last ui-corner-tr ui-corner-br fg-button ui-button ui-state-default ui-state-disabled"  title="末页">末页</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


            
        </div>
    </div>
    <script src="__PUBLIC__/Azureadmin/Scripts/Lib/jquery.js"></script>
    <script src="__PUBLIC__/Azureadmin/Scripts/Lib/bootstrap.js"></script>
    <script src="__PUBLIC__/Azureadmin/Scripts/Lib/menu.js"></script>
    <script type="text/javascript">
    var resource = '{$resource}';
    </script>
    <script src="__PUBLIC__/Azureadmin/Scripts/Lib/require.js"></script>
    <script src="__PUBLIC__/Azureadmin/Scripts/config.js"></script>
    <script src="__PUBLIC__/Azureadmin/Scripts/common.js"></script>
    <script type="text/javascript">
        var controller = '{$controller}';
        $('#breadcrumb a:last-child').css('background-image', 'none');
        $(window).resize(function () {
            var height = $('#sidebar>ul').height() + 100;
            if (height < 600) {
                height = 600;
            }
            $('#content').css('min-height', height + 'px');
        }).resize();
    </script>
    
    <script type="text/javascript" src="__PUBLIC__/Azureadmin/Scripts/Lib/select2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Azureadmin/Scripts/Lib/jquery.uniform.js"></script>
    <script type="text/javascript">
        function a() { require(["__PUBLIC__/Azureadmin/Scripts/NoticeManager/index.js"], function (o) { o.add(); }); }
        function b(a) { require(["__PUBLIC__/Azureadmin/Scripts/NoticeManager/index.js"], function (o) { o.update(a); }); }
        function c(a) { require(["__PUBLIC__/Azureadmin/Scripts/NoticeManager/index.js"], function (o) { o.del(a); }); }
        function d() { require(["__PUBLIC__/Azureadmin/Scripts/NoticeManager/index.js"], function (o) { o.refresh(); }); }
        function e(a) { require(["__PUBLIC__/Azureadmin/Scripts/NoticeManager/index.js"], function (o) { o.get(a); }); }
        function f(a) { require(["__PUBLIC__/Azureadmin/Scripts/NoticeManager/index.js"], function (o) { o.showCompany(a); }); }
    </script>

</body>
</html>
