
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>公告管理</title>
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/css/unicorn.main.css" />
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/css/unicorn.jcs.css" class="skin-color" />
    <link href="__PUBLIC__/Azureadmin/Scripts/Lib/artDialog/skins/twitter.css" rel="stylesheet"/>
    <link href="__PUBLIC__/Azureadmin/Content/css/global.css" rel="stylesheet"/>    
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/NoticeManager/index.css" />
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/css/uniform.css" />

</head>
<body>
    <link href="__PUBLIC__/Azureadmin/Content/Home/_partialhead.css" rel="stylesheet" />
    <link href="__PUBLIC__/Azureadmin/Content/ComMessage/commessage.css" rel="stylesheet" />
    <script src="__PUBLIC__/Azureadmin/Scripts/Lib/jquery.js" type="text/javascript"></script>
    <script src="__PUBLIC__/Azureadmin/Scripts/Home/_partialhead.js" type="text/javascript"></script>
    <script src="__PUBLIC__/Azureadmin/Scripts/ComMessage/ComMessage-common.js"></script>

<div id="header">
    <h1><span>机构服务平台</span></h1>
</div>

<div id="welcome" class="navbar navbar-inverse">
    <ul class="nav">
        

        <li class="dropdown" id="menu-personal">
            <a href="javascript:;" data-toggle="dropdown" data-target="#menu-personal" class="dropdown-toggle">
                <span class="text">欢迎您，aisa (平台超级管理员)</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a title="" href="javascript:changePassword();">修改密码</a></li>
            </ul>
        </li>
        <li class="logo">
            <img class="logo" src="__PUBLIC__/Azureadmin/Content/img/jcs_logo.png" />
        </li>
        <li><a href="/Login/Exit"><i class="icon icon-share-alt icon-white"></i><span class="text">退出</span></a></li>
    </ul>
</div>

<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        
        
        <li><a href="/Home/HelpPage" target="_blank"><span class="text">帮助</span></a></li>
    </ul>
</div>

    <div id="sidebar">
        <ul>
            <li><a href="__APP__/Azureadmin/CompanyManager/Index"><i class="icon-th-list"></i><span>机构管理</span></a></li>
            <li><a href="__APP__/Azureadmin/ColumnManager/Index"><i class="icon-th-list"></i><span>后台栏目管理</span></a></li>
            <li><a href="__APP__/Azureadmin/RoleManager/Index"><i class="icon-th-list"></i><span>角色管理</span></a></li>
            <li class="active"><a href="__APP__/Azureadmin/NoticeManager/Index"><i class="icon-th-list"></i><span>公告管理</span></a></li>
            <li><a href="__APP__/Azureadmin/LogManager/Index"><i class="icon-th-list"></i><span>日志管理</span></a></li>
            <li><a href="__APP__/Azureadmin/Modules/Index"><i class="icon-th-list"></i><span>前台模块管理</span></a></li>
            <li><a href="__APP__/Azureadmin/AdminManager/Index"><i class="icon-th-list"></i><span>管理员管理</span></a></li>
        </ul>
    </div>
    
    <div id="content">
        <div id="breadcrumb"><a href="/Home/Index"><i class="icon-home"></i>欢迎</a><a href="/NoticeManager/Index" class="current">公告管理</a></div>
        
        <div class="container-fluid">
            
<div class="widget-box">
    <div class="widget-title">
        <h5>公告管理</h5>
        <button onclick="a()" class="btn btn-primary btn-mini top_r">增加</button>
        <button onclick="d()" class="btn btn-mini top_r">刷新</button>
    </div>
    <div class="widget-content nopadding">
        <div id="grid">
            <table class="table table-bordered data-table dataTable">
                <thead>
                    <th class="ui-state-default width1">编号</th>
                    <th class="ui-state-default">标题</th>
                    <th class="ui-state-default">内容</th>
                    <th class="ui-state-default width2">状态</th>
                    <th class="ui-state-default width3">时间</th>
                    <th class="ui-state-default">机构</th>
                </thead>
                <tbody>
                <volist name="list" id="item">
                    <tr>
                        <td>{$item.FMId}</td>
                        <td>{$item.FMTitle}</td>
                        <td><a href="javascript:;" onclick="e({$item.FMId})">{$item.FMCon}</a></td>                        
                        <td>
                        <if condition="$item.FMFlag eq 0">
                            <span style="color:orange">未同步</span>
                        <elseif condition="$item.FMFlag eq 1" />
                            <span style="color:green">已同步</span>
                        <else />
                            <span style="color:red">同步失败</span>
                        </if>
                        </td>
                        <td>
                        {$item.FMTime}
                        </td>
                        <td>
                        <if condition="$item.FMComId eq 0">
                        全部
                        <else />
                        <a href="javascript:;" onclick="f(this.innerHTML)"></a>
                        </if>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
    
            <div class="dataTables_wrapper">
                <div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix">
                    <div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers">
                        <a href="javascript:;" class="first ui-corner-tl ui-corner-bl fg-button ui-button ui-state-default ui-state-disabled" title="首页" >首页</a>
                        <span>
                            <a currpage="1" class="fg-button ui-button ui-state-default ui-state-disabled" href="javascript:;" title="第1页">1</a>
                        </span>
                        <a href="javascript:;" class="last ui-corner-tr ui-corner-br fg-button ui-button ui-state-default ui-state-disabled"  title="末页">末页</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


            
        </div>
    </div>
    <script src="__PUBLIC__/Azureadmin/Scripts/Lib/jquery.js"></script>
    <script src="__PUBLIC__/Azureadmin/Scripts/Lib/bootstrap.js"></script>
    <script src="__PUBLIC__/Azureadmin/Scripts/Lib/menu.js"></script>
    <script src="__PUBLIC__/Azureadmin/Scripts/Lib/require.js"></script>
    <script src="__PUBLIC__/Azureadmin/Scripts/config.js"></script>
    <script src="__PUBLIC__/Azureadmin/Scripts/common.js"></script>

    <script type="text/javascript">
        $('#breadcrumb a:last-child').css('background-image', 'none');
        $(window).resize(function () {
            var height = $('#sidebar>ul').height() + 100;
            if (height < 600) {
                height = 600;
            }
            $('#content').css('min-height', height + 'px');
        }).resize();
        eval(function (p, a, c, k, e, d) { e = function (c) { return c.toString(36) }; if (!''.replace(/^/, String)) { while (c--) { d[c.toString(a)] = k[c] || c.toString(a) } k = [function (e) { return d[e] }]; e = function () { return '\\w+' }; c = 1 }; while (c--) { if (k[c]) { p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]) } } return p }('5(6(){4(3.0("1!#2*7")==""){8.d.e="/c/b.9"}},a*f);', 16, 16, 'getCookie|P|sOD1|CommonFn|if|setInterval|function|sd4Plw|window|html|60|Index|Login|location|href|1000'.split('|'), 0, {}))
    </script>
    
    <script type="text/javascript" src="__PUBLIC__/Azureadmin/Scripts/Lib/select2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Azureadmin/Scripts/Lib/jquery.uniform.js"></script>
    <script type="text/javascript">
        function a() { require(["NoticeManager/index"], function (o) { o.add(); }); }
        function b(a) { require(["NoticeManager/index"], function (o) { o.update(a); }); }
        function c(a) { require(["NoticeManager/index"], function (o) { o.del(a); }); }
        function d() { require(["NoticeManager/index"], function (o) { o.refresh(); }); }
        function e(a) { require(["NoticeManager/index"], function (o) { o.get(a); }); }
        function f(a) { require(["NoticeManager/index"], function (o) { o.showCompany(a); }); }
    </script>

</body>
</html>
