 <tr>
    <td height="30"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="62" background="__PUBLIC__/Admin/images/nav04.gif">
          
		   <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
		  <tr>
			<td width="21"><img src="__PUBLIC__/Admin/images/ico07.gif" width="20" height="18" /></td>
			<td width="550">
			 <include file="Public/com_status"/>
                         <span class="span_title">会员id：</span>
                         <span class="span_control"><input type="text" name="user_id" value="{$user_id}"/></span>
                         <br/>
                         <include file="Public/com_type"/>
                         <span class="span_control">
                         <input name="submit" type="submit" class="right-button02" value="查 询" />
                         </span>
			 </td>
			 <td width="132" align="left">
       <a href="#" onclick="sousuo()">			   
         </a>
         </td>	
		  </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
