<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>运营管理系统</title>
</head>
<frameset rows="50,*" cols="*" frameborder="no" border="0" framespacing="0">
  <frame src="__APP__/Public/top.html" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" />
  <frameset cols="190,*" frameborder="no" border="0" framespacing="0" style="z-index:1">
    <frame src="__APP__/Public/left.html" name="leftFrame" scrolling="No" noresize="noresize" id="leftFrame" title="leftFrame" />
    <frame src="__APP__/Public/main.html" name="main" id="main" title="main" />
  </frameset>
</frameset>
<noframes>
<body>
</body>
</noframes>
</html>