<include file="Public/header" />

<body class="ContentBody">
  <form method="post" enctype="multipart/form-data" name="myForm" id="myForm">
<div class="MainDiv">
<table width="99%" border="0" cellpadding="0" cellspacing="0" class="CContent">
  <tr>
      <th class="tablestyle_title" >编辑企业</th>
  </tr>
  <tr>
    <td class="CPanel">
		
		<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
		
		<tr align="center">
			<td class="TablePanel">&nbsp;</td>
	        </tr>
			<TR>
			<TD width="100%">
				<fieldset style="height:100%;">
				<legend>编辑企业</legend>
					  <table border="0" cellpadding="2" cellspacing="1" style="width:100%">
					 
					  <tr>
					    <td nowrap align="right" width="30%">性质:</td>
					    <td width="35%">
                                            <select id="nature" name="nature" onchange="nature_change()">
                                            <option value="003001" <if condition="'003001' eq $obj['nature']">selected="selected"</if>>公司</option>
                                            <option value="003002" <if condition="'003002' eq $obj['nature']">selected="selected"</if>>平台</option>
                                            </select>
                                            
				            <span class="red">*</span></td>
					  </tr>
                                        
                                          <tr>
					    <td nowrap align="right" width="30%">所属行业:</td>
					    <td width="35%">
                                            <select name="trade"  onchange="trade_change();" id="trade">
                                            <volist name="trade_list" id="trade">
                                                <option value="{$key}" <if condition="$key eq $obj['trade']">selected='selected'</if>>{$trade}</option>
                                            </volist>
                                            </select>
				            <span class="red">*</span></td>
					   </tr>
                                           
                                            <tr>
					    <td nowrap align="right" width="30%">企业logo:</td>
					    <td width="35%"><input type="file" name="logo" style="width:154px" />
                                            <img src="{$obj.logo_url}" width="50px" height="50px"/>
                                            </td>
					   </tr>
					 
    					 <tr>
					    <td nowrap align="right" width="30%">公司名称:</td>
					    <td width="35%"><input name='company_name' type="text" class="text" style="width:154px" value="{$obj.company_name}" onblur="check_company_name()"/>
				            <span class="red">*</span></td>
					   </tr>
                                           
                                            <tr>
					    <td nowrap align="right" width="30%">公司别名:</td>
					    <td width="35%">
                                            <textarea id="company_alias" name='company_alias' cols="30" rows="3">{$company_alias}</textarea>注:之间用逗号隔开
				            </td>
					   </tr>
                                           
                                           <tr>
					    <td nowrap align="right" width="30%">认证级别:</td>
					    <td width="35%">
                                            <select name="auth_level" id="auth_level" onchange="auth_level_change()">
                                            <option value="006002" <if condition="'006002' eq $obj['auth_level']">selected="selected"</if>>未验证</option>
                                            <option value="006001" <if condition="'006001' eq $obj['auth_level']">selected="selected"</if>>黑平台</option>
                                            <option value="006003" <if condition="'006003' eq $obj['auth_level']">selected="selected"</if>>合规</option>
                                            </select>
				            </td>
					   </tr>
                                                                                      
                                           <tr>
					    <td nowrap align="right" width="30%">联系地址:</td>
					    <td width="35%"><input name='reg_address' type="text" class="text" style="width:154px" value="{$obj.reg_address}" />
				            </td>
					   </tr>
                                           
                                           <tr>
					    <td nowrap align="right" width="30%">营业执照:</td>
					    <td width="35%">
                                            <input id="control_busin_license" name="control_busin_license" type="checkbox"  <if condition="1 eq $obj['control_busin_license']">checked</if> />
                                            <input name='busin_license' id="busin_license" type="file"/>
                                            <a style="cursor: pointer;" onclick="view_pic('{$obj.busin_license_url}');">
                                            <img id="img_busin_license" src="{$obj.busin_license_url}" width="50px" height="50px"/>
                                            </a>
				            </td>
					   </tr>
                                           
                                           <tr>
					    <td nowrap align="right" width="30%">机构代码证:</td>
					    <td width="35%">
                                            <input id="control_code_certificate" name="control_code_certificate" type="checkbox" <if condition="1 eq $obj['control_code_certificate']">checked</if>
                                            />
                                            <input name='code_certificate' id="code_certificate" type="file" />
                                            <a style="cursor: pointer;" onclick="view_pic('{$obj.code_certificate_url}');">
                                            <img id="img_code_certificate" src="{$obj.code_certificate_url}" width="50px" height="50px" />
                                            </a>
				            </td>
					   </tr>
                                           
                                           <tr>
					    <td nowrap align="right" width="30%">联系电话:</td>
					    <td width="35%"><input name='telephone' type="text" class="text" style="width:154px" value="{$obj.telephone}" />
				            </td>
					   </tr>
                                           
                                           <tr>
					    <td nowrap align="right" width="30%">官方网址:</td>
					    <td width="35%"><input id="website" name='website' type="text" class="text" style="width:154px" value="{$obj.website}" />
				            </td>
					   </tr>
                                           
                                           <tr>
					    <td nowrap align="right" width="30%">官网备案:</td>
					    <td width="35%"><input name='record' type="text" class="text" style="width:154px" value="{$obj.record}" />
				            </td>
					   </tr>
                                           
                                            <tr id="id_regulators_id">
					    <td nowrap align="right" width="30%">监管机构:</td>
					    <td width="35%">
                                             <select name='regulators_id' id="regulators_id">
                                             <option value=0 <if condition="0 eq $obj['regulators_id']">selected="selected"</if>>---请选择监管机构---</option>
                                             <volist name="regulators_list" id="regulators">
                                             <option value="{$key}" <if condition="$key eq $obj['regulators_id']">selected="selected"</if>>{$regulators}</option>
                                             </volist>
                                             </select>
				            </td>
					   </tr>
                                           
                                           <tr id="id_find_website">
					    <td nowrap align="right" width="30%">查询网址:</td>
					    <td width="35%"><input name='find_website' type="text" class="text" style="width:154px" value="" />
				            </td>
					   </tr>
                                           
                                           <tr id="id_agent_flatform">
					    <td nowrap align="right" width="30%">代理平台:</td>
					    <td width="35%"> 
                                            <select id="agent_platform" name='agent_platform'>
                                            <option value=0 <if condition="0 eq $obj['agent_platform']">selected="selected"</if>>暂无代理平台</option>
                                            <volist name="agent_platform_list" id="agent_platform">
                                            <option value={$key} <if condition="intval($key) eq $obj['agent_platform']">selected="selected"</if>>{$agent_platform}</option>
                                            </volist>
                                            </select>
				            </td>
					   </tr>
                                           
                                           <tr id="id_mem_sn">
					    <td nowrap align="right" width="30%">会员编号:</td>
					    <td width="35%"><input name='mem_sn' type="text" class="text" style="width:154px" value="{$obj.mem_sn}" />
				            </td>
					   </tr>
                                           
                                           <tr id="id_certificate">
					    <td nowrap align="right" width="30%">资质证明:</td>
					    <td width="35%">
                                            <input id="control_certificate" name="control_certificate" type="checkbox" <if condition="1 eq $obj['control_certificate']">checked</if>/>
                                            <input id="certificate" name='certificate' type="file" />
                                            <a style="cursor: pointer;" onclick="view_pic('{$obj.certificate_url}');">
                                            <img id="img_certificate" src="{$obj.certificate_url}" width="50px" height="50px" />
                                            </a>
				            </td>
					   </tr>
                                          
                                           
					  </table>
			  <br />
				</fieldset>			</TD>
		</TR>
		</TABLE>
	 </td>
  </tr>
		
		<TR>
			<TD colspan="2" align="center" height="50px">
                        <input type="hidden" name="id" value="{$obj.id}"/>
			<input type="submit" name="submit" value="保存" class="button" onclick="return validate()"/>　
			<input type="button" name="Submit2" value="返回" class="button" onclick="window.history.go(-1);"/>
			</TD>
		</TR>
		</TABLE>
	
	
	 </td>
  </tr>
  
  
  
  </table>

</div>
</form>
<include file="Public/pop_picture"/>
</body>
</html>
<script type="text/javascript">
//检查企业名称是否存在
function check_company_name() {
    var company_name = $('#company_name').val();
    var id = $('#id').val();
    company_name = encodeURI(company_name);
    jQuery.ajax({  
		        type:"post",  
		        url:"{$call_url}",
		        timeout: 5000,  
		        dataType:"json",  
		        data:{"method":"Company.exists_name_ex","type":"text","content":{"company_name":company_name,'id':id}},
		        success: function aa(data) {
                            if (200 == data.status_code
                            &&  0 == data.content.is_exists) {
                                $('#company_name').val("");
                                $('#company_name').focus();
                                alert('此企业名称已存在');
                            }
                        }
    });
}

//提交审核
function validate()
{
    var company_name = $('#company_name').val();
    var company_type = $('#company_type').val();
    var website      = $('#website').val();
    //公司名称
    if ('' == company_name) {
        alert('企业名称不为空');
        return false;
    }
    
    check_company_name();
    
    //验证企业网址
    //检查url
    if (!checkData.isEmpty(website)) {
        if(!checkData.isURLSpan('website'))  
        {
            alert('网址不合法');
            return false;
        }   
    }
    
    return true;
}

var is_first = 0;
function auth_level_change()
{
  var nature_val = $('#nature').val();
  var auth_level_val = $('#auth_level').val();
  if('003001' == nature_val)
  {
    var is_limit = 0;
    switch(auth_level_val)
    {
      case '006002':
      case '006003':
      {
        is_limit = 1;
      }
      break;
      case '006001'://all
      {
        is_limit = 0;
      }
      break;
    }
    var param_data = {};
    if(is_limit)
    {
      param_data = {"method":"Company.get_id_name_map",
                   "type":"text",
                   "content":{"where":{"nature":"003002","auth_level":["in",["006002","006003"]]}}};
    }
    else
    {
      param_data = {"method":"Company.get_id_name_map","type":"text","content":{"where":{"nature":"003002"}}};
    }
    jQuery.ajax({  
            type:"post",  
            url:"{$call_url}",
            async:false,
            timeout: 5000,  
            dataType:"json",  
            data:param_data,
            success: function aa(data) {
                            if (200 == data.status_code) {
                                var agent_platform_val = {$obj['agent_platform']};
                                $('#agent_platform').empty();                                
                                $('#agent_platform').append("<option value=0>暂无代理平台</option>");
                                $.each(data.content, function(index, item){                                
                                  if(0 == is_first)
                                  {
                                    if(parseInt(index) == parseInt(agent_platform_val))
                                    {
                                      $('#agent_platform').append("<option value="+index+" selected='selected'>"+item+"</option>");
                                    }
                                    else                                      
                                    {
                                      $('#agent_platform').append("<option value="+index+">"+item+"</option>");
                                    }
                                  }
                                  else
                                  {
                                    $('#agent_platform').append("<option value="+index+">"+item+"</option>");
                                  }
                                });
                            }
                        }
      });
  }
}

//企业性质改变
function nature_change()
{
    var nature_val = $('#nature').val();
    if('003002' == nature_val)//平台
    {
        $('#id_find_website').hide();
        $('#id_agent_flatform').hide();
        $('#id_mem_sn').hide();
        $('#id_certificate').hide();
    }
    else
    {
        $('#id_agent_flatform').show();
        $('#id_find_website').show()
        $('#id_mem_sn').show();
        $('#id_certificate').show();;
    }
}

function is_file_upload()
{
    var control_busin_license    = document.getElementById('control_busin_license').checked;//营业执照
    var control_code_certificate = document.getElementById('control_code_certificate').checked;//组织代码证
    var control_certificate      = document.getElementById('control_certificate').checked;//资质证明
    
    //营业执照
    if (control_busin_license)
    {
        $('#busin_license').show();
        $('#img_busin_license').show();
    }
    else
    {
        $('#img_busin_license').hide();
        $('#busin_license').hide();
        $('#busin_license').val("");
    }
    
    //组织代码证
    if (control_code_certificate) {
        $('#code_certificate').show();
        $('#img_code_certificate').show();
    }else
    {
        $('#img_code_certificate').hide();
        $('#code_certificate').hide();
        $('#code_certificate').val("");
    }
    
    //资质证明
    if (control_certificate) {
        $('#certificate').show();
        $('#img_certificate').show();
    }
    else{
        $('#img_certificate').hide();
        $('#certificate').hide();
        $('#certificate').val("");
    }
}

function trade_change(){
    var trade = $('#trade').val();
    if ('004002' == trade)//外汇
    {
        $('#id_regulators_id').show();
    }
    else
    {
        $('#regulators_id').val(0);
        $('#id_regulators_id').hide();
    }
}

$(function(){
    nature_change();
    auth_level_change();
    trade_change();
});
</script>
