 <div id="sidebar">
        <ul>
            <li <if condition="$menu_index eq 1">class="active"</if>>
                <a href="__APP__/Azureadmin/CompanyManager/Index"><i class="icon-th-list"></i><span>机构管理</span></a>
            </li>
            <li <if condition="$menu_index eq 2">class="active"</if>>
                <a href="__APP__/Azureadmin/ColumnManager/Index"><i class="icon-th-list"></i><span>后台栏目管理</span></a>
            </li>
            <li <if condition="$menu_index eq 3">class="active"</if>>
                <a href="__APP__/Azureadmin/RoleManager/Index"><i class="icon-th-list"></i><span>角色管理</span></a>
            </li>
            <li <if condition="$menu_index eq 4">class="active"</if>>
                <a href="__APP__/Azureadmin/NoticeManager/Index"><i class="icon-th-list"></i><span>公告管理</span></a>
            </li>
            <li <if condition="$menu_index eq 5">class="active"</if>>
                <a href="__APP__/Azureadmin/LogManager/Index"><i class="icon-th-list"></i><span>日志管理</span></a>
            </li>
            <li <if condition="$menu_index eq 6">class="active"</if>>
                <a href="__APP__/Azureadmin/Modules/Index"><i class="icon-th-list"></i><span>前台模块管理</span></a>
            </li>
            <li <if condition="$menu_index eq 7">class="active"</if>>
                <a href="__APP__/Azureadmin/AdminManager/Index"><i class="icon-th-list"></i><span>管理员管理</span></a>
            </li>
        </ul>
    </div>