<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        <li class="dropdown" id="menu-messages"><a href="javascript:;" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i><span class="text">消息</span><span id="span_UnreadComMessageCount" class="label label-important" style="display:none">0</span><b class="caret"></b></a><ul id="ul_ComMessage" class="dropdown-menu"></ul></li>
        
        <li><a href="/Home/HelpPage" target="_blank"><span class="text">帮助</span></a></li>
    </ul>
</div>