<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>运营管理系统</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.3.min.js" ></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/mh_dialog.js" ></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.form.js" ></script>
</head>
<body>
<div class="container clearfix">
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list">
                <i class="icon-font"></i>
                <a target="_top" href="__ROOT__/">首页</a>
                <span class="crumb-step">&gt;</span>
                <a href="index.html">用户管理</a>
                <span class="crumb-step">&gt;</span>
                <span>修改用户</span>
            </div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form class="registerform" name="theForm" id="theForm" action="__URL__/edit" method="post" enctype="multipart/form-data" onsubmit="return ValidateFile()">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th>编号：</th>
                                <td><input class="common-text yinc" readonly="readonly" name="number" size="50" value="{$edit_list.number}"></td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>用户帐号：</th>
                                <td>
                                    <input class="common-text required" id="admin_name" name="admin_name" size="50" value="{$edit_list.admin_name}" type="text">
                                </td>
                            </tr>
                            <!-- <tr>
                                <th><i class="require-red">*</i>密码：</th>
                                <td><input class="common-text" name="passwd" id="passwd" size="50" value="" type="password"></td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>确认密码：</th>
                                <td><input class="common-text" name="pwd" id="pwd" size="50" value="" type="password"></td>
                            </tr> -->
                            <tr>
                                <th><i class="require-red">*</i>姓名：</th>
                                <td>
                                    <input class="common-text required" id="xname" name="xname" size="50" value="{$edit_list.name}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th width="120"><i class="require-red">*</i>状态：</th>
                                <td>
                                    <select name="status" id="status" class="required">
                                        <option value="0" <if condition="$edit_list.status eq 0">selected="selected"</if>>正常</option>
                                        <option value="-1" <if condition="$edit_list.status eq -1">selected="selected"</if>>禁用</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th width="120"><i class="require-red">*</i>部门：</th>
                                <td>
                                    <select name="part" id="part" class="required">
                                        <option value="">请选择</option>
                                        <volist name="u_map.part" id="par">
                                        <option value="{$key}" <if condition="$edit_list.part eq $key">selected="selected"</if>>{$par}</option>
                                        </volist>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th width="120"><i class="require-red">*</i>角色：</th>
                                <td>
                                    <select name="role" id="role" class="required">
                                        <option value="">请选择</option>
                                        <volist name="u_map.role" id="ro">
                                        <option value="{$key}" <if condition="$edit_list.role eq $key">selected="selected"</if>>{$ro}</option>
                                        </volist>
                                    </select>
                                </td>
                            </tr>
                            <!-- <tr>
                                <th width="120"><i class="require-red">*</i>岗位：</th>
                                <td>
                                    <select name="position" id="position" class="required">
                                        <option value="">请选择</option>
                                        <volist name="u_map.position" id="pos">
                                        <option value="{$key}" <if condition="$edit_list.position eq $key">selected="selected"</if>>{$pos}</option>
                                        </volist>
                                    </select>
                                </td>
                            </tr> -->
                            <tr>
                                <th></th>
                                <td>
                                    <input type="hidden" id="id" name="id" value="{$edit_list.id}">
                                    <input class="btn btn-primary btn6 mr10" id="submit" name="submit" value="提交" type="submit">
                                    <input class="btn btn6" onClick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
</body>
<script type="text/javascript">
    //判断必填项
    function ValidateFile(){
        var admin_name = $('#admin_name').val();
        //var passwd = $('#passwd').val();
        //var pwd      = $('#pwd').val();
        var part     = $('#part').val();
        var role     = $('#role').val();
        //var position = $('#position').val();
        if (admin_name == "") {
            mh_dialogShow('mh_warning','用户帐号不能为空！',2,true); 
            return false;
        } 
        // if (pwd != "" && passwd != "") {
        //     if(pwd != passwd){
        //         mh_dialogShow('mh_warning','两次密码不一致！',2,true); 
        //         return false;
        //     }
        // }
        if (part == "") {
            mh_dialogShow('mh_warning','请选择部门！',2,true); 
            return false;
        } 
        if (role == "") {
            mh_dialogShow('mh_warning','请选择角色！',2,true); 
            return false;
        } 
        // if (position == "") {
        //     mh_dialogShow('mh_warning','请选择岗位！',2,true); 
        //     return false;
        // } 
    }
    $(function () {
        var options = {
            beforeSend:function(){
                $("#submit").val('提交').attr('disabled',true);
            },
            success: function (data) {
                if(data){
                  if (data == 0) {
                    mh_dialogShow('mh_success','修改成功!',2,true,'__APP__/User/index'); 
                    return false;
                  }else if(data == -1){
                    mh_dialogShow('mh_warning','修改失败！',2,true); 
                    return false;
                  }else{
                    mh_dialogShow('mh_warning','修改失败！',2,true); 
                    return false;
                  }
                }
            },
            complete:function(){
                $("#submit").val('提交').attr('disabled',false);
            }
        };
        $("#theForm").ajaxForm(options);
    });
</script>
</html>