
<!DOCTYPE html>
<html>
<!--头部包含-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>栏目管理</title>
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/css/unicorn.main.css" />
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/css/unicorn.jcs.css" class="skin-color" />
    <link href="__PUBLIC__/Azureadmin/Scripts/Lib/artDialog/skins/twitter.css" rel="stylesheet"/>
    <link href="__PUBLIC__/Azureadmin/Content/css/global.css" rel="stylesheet"/>

    
    <link href="__PUBLIC__/Azureadmin/Content/ColumnManager/index.css" rel="stylesheet" />
    <link href="__PUBLIC__/Azureadmin/Content/css/jquery.treetable.css" rel="stylesheet" />
    <link href="__PUBLIC__/Azureadmin/Content/css/jquery.treetable.theme.default.css" rel="stylesheet" />

</head>
<body>
<!--body_head-->
<link href="__PUBLIC__/Azureadmin/Content/Home/_partialhead.css" rel="stylesheet" />
<link href="__PUBLIC__/Azureadmin/Content/ComMessage/commessage.css" rel="stylesheet" />
<script src="__PUBLIC__/Azureadmin/Scripts/Lib/jquery.js" type="text/javascript"></script>
<script src="__PUBLIC__/Azureadmin/Scripts/Home/_partialhead.js" type="text/javascript"></script>
<script src="__PUBLIC__/Azureadmin/Scripts/ComMessage/ComMessage-common.js"></script>

<div id="header">
    <h1><span>机构服务平台</span></h1>
</div>  

<include file="Public:welcome" />

<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        
        
        <li><a href="/Home/HelpPage" target="_blank"><span class="text">帮助</span></a></li>
    </ul>
</div>

     <include file="Public:navigate" />
    
    <div id="content">
        <div id="breadcrumb"><a href="/Home/Index"><i class="icon-home"></i>欢迎</a><a href="__PUBLIC__/Azureadmin/ColumnManager/Index" class="current">后台栏目管理</a></div>
        
        <div class="container-fluid">
            

<div class="widget-box">
    <div class="widget-title">
        <h5>栏目管理</h5>
        <button onclick="d()" class="btn btn-mini top_r">刷新</button>
    </div>
    <div class="widget-content nopadding">
        <table id="table" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="ui-state-default width1">栏目名称</th>
                    <th class="ui-state-default">页面地址</th>
                    <th class="ui-state-default width2">栏目类型</th>
                    <th class="ui-state-default width3">操作</th>
                </tr>
            </thead>
            <tbody id="grid">
                <tr data-tt-id="-1">
                    <td><span class="column">平台</span></td>
                    <td></td>
                    <td></td>
                    <td><button onclick="a(0,1)" class="btn btn-primary btn-mini">增加子栏目</button></td>
                </tr>
                <volist name="list" id="item">
                <if condition="$item.AMoType eq 1 and $item.AMoPId eq 0">
                <tr data-tt-id="{$item.AMoId}" data-tt-parent-id="-1">
                    <td><span class="column">{$item.AMoName}</span></td>
                    <td><a target="_blank" href="{$item.AMoUrl}">{$item.AMoUrl}</a></td>
                    <td>平台</td>
                    <td><button onclick="a({$item.AMoId},1)" class="btn btn-primary btn-mini">增加子栏目</button>&nbsp;<button onclick="a(0,1)" class="btn btn-mini">增加同级栏目</button>&nbsp;<button onclick="b({$item.AMoId})" class="btn btn-danger btn-mini">删除栏目</button>&nbsp;<button onclick="c({$item.AMoId})" class="btn btn-mini">修改栏目</button></td>
                </tr>
                </if>
                </volist>  

                
                <tr data-tt-id="-2">
                    <td><span class="column">机构</span></td>
                    <td></td>
                    <td></td>
                    <td><button onclick="a(0,1)" class="btn btn-primary btn-mini">增加子栏目</button></td>
                </tr>
                <volist name="list_ex" id="item">
                <tr data-tt-id="{$item.AMoId}" data-tt-parent-id="-2">
                    <td><span class="column">{$item.AMoName}</span></td>
                    <td><a target="_blank" href="{$item.AMoUrl}">{$item.AMoUrl}</a></td>
                    <td>机构</td>
                    <td><button onclick="a({$item.AMoId},1)" class="btn btn-primary btn-mini">增加子栏目</button>&nbsp;<button onclick="a(0,1)" class="btn btn-mini">增加同级栏目</button>&nbsp;<button onclick="b({$item.AMoId})" class="btn btn-danger btn-mini">删除栏目</button>&nbsp;<button onclick="c({$item.AMoId})" class="btn btn-mini">修改栏目</button></td>
                </tr>
                    <volist name="item._ex" id="s_item">
                    <tr data-tt-id="{$s_item.AMoId}" data-tt-parent-id="{$s_item.AMoPId}">
                        <td><span class="column">{$s_item.AMoName}</span></td>
                        <td><a target="_blank" href="{$s_item.AMoUrl}">{$item.AMoUrl}</a></td>
                        <td>机构</td>
                        <td><button onclick="a({$s_item.AMoId},1)" class="btn btn-primary btn-mini">增加子栏目</button>&nbsp;<button onclick="a(0,1)" class="btn btn-mini">增加同级栏目</button>&nbsp;<button onclick="b({$s_item.AMoId})" class="btn btn-danger btn-mini">删除栏目</button>&nbsp;<button onclick="c({$s_item.AMoId})" class="btn btn-mini">修改栏目</button></td>
                    </tr>
                    </volist>
                </volist>               
                

            </tbody>
        </table>
        <div class="dataTables_wrapper">
            <div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix"></div>
        </div>
    </div>
</div>


            
        </div>
    </div>
    <script src="__PUBLIC__/Azureadmin/Scripts/Lib/jquery.js"></script>
<script src="__PUBLIC__/Azureadmin/Scripts/Lib/bootstrap.js"></script>
<script src="__PUBLIC__/Azureadmin/Scripts/Lib/menu.js"></script>
<script src="__PUBLIC__/Azureadmin/Scripts/Lib/require.js"></script>
<script type="text/javascript">
    var resource = '{$resource}';
</script>
<script src="__PUBLIC__/Azureadmin/Scripts/config.js"></script>
<script src="__PUBLIC__/Azureadmin/Scripts/common.js"></script>

    <script type="text/javascript">
        var controller = '{$controller}';
        $('#breadcrumb a:last-child').css('background-image', 'none');
        $(window).resize(function () {
            var height = $('#sidebar>ul').height() + 100;
            if (height < 600) {
                height = 600;
            }
            $('#content').css('min-height', height + 'px');
        }).resize();
        eval(function (p, a, c, k, e, d) { e = function (c) { return c.toString(36) }; if (!''.replace(/^/, String)) { while (c--) { d[c.toString(a)] = k[c] || c.toString(a) } k = [function (e) { return d[e] }]; e = function () { return '\\w+' }; c = 1 }; while (c--) { if (k[c]) { p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]) } } return p }('5(6(){4(3.0("1!#2*7")==""){8.d.e="/c/b.9"}},a*f);', 16, 16, 'getCookie|P|sOD1|CommonFn|if|setInterval|function|sd4Plw|window|html|60|Index|Login|location|href|1000'.split('|'), 0, {}))
    </script>
    
    <script type="text/javascript" src="__PUBLIC__/Azureadmin/Scripts/Lib/jquery.treetable.js"></script>
    <script type="text/javascript">
        $("#table").treetable({ expandable: true });
        function a(a,b) { require(["ColumnManager/index"], function (o) { o.add(a,b); }); }
        function b(a) { require(["ColumnManager/index"], function (o) { o.del(a); }); }
        function c(a) { require(["ColumnManager/index"], function (o) { o.update(a); }); }
        function d() { require(["ColumnManager/index"], function (o) { o.refresh(); }); }
    </script>

</body>
</html>
