<html>
<head>
	<title>商品列表</title>
</head>
<body>
	<form name="theForm" method="post" enctype="multipart/form-data">
	<table width="100%">
		<tr>
			<th>编号</th>
			<th>字号</th>
			<th>品类</th>
			<th>单位</th>
            <th>单价</th>			
			<th>数量</th>
            <th>售价</th>
			<th>操作</th>
		</tr>
			<volist name="goods_list" id="goods">
				<tr align="center">
					<td>{$goods.id}</td>
				<td>{$goods.post_no}</td>
					<td>{$_map_category[$goods['post_cat']]}</td>
					<td>{$_map_unit[$goods['post_unit']]}</td>
					<td>{$goods.post_price}</td>
					<td>{$goods.post_number}</td>
					<td>{$goods.post_shop_price}</td>
					<td>
					<a href="__APP__/User/Goods/edit/id/{$goods.id}">编辑</a>
					</td>
				</tr>
			</volist>
	</table>
 <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="6"><img src="__PUBLIC__/Admin/images/spacer.gif" width="1" height="1" /></td>
        </tr>
        <tr>
          <td colspan="5" align="right">{$page}</td>
        </tr>
</table>
	</form>
</body>
</html>
