<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<title>口碑平台查询_全国最大的查询曝光平台_口碑</title>
<meta name="keywords" content="口碑,黑平台,黑幕曝光平台"/>
<meta name="description" content="口碑,全国性的交易市场曝光平台，携手每一位投资人共同揭开交易市场的层层黑幕，为投资者甄选安全可靠的交易平台，营造国内绿色透明的交易环境。"/>
<link rel="icon" href="__PUBLIC__/s.ico" type="image/x-icon" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/wap_main.css"/>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/app_mian.js" ></script>
</head>

<body>
<div class="top">
  <include file="Public:top_wap" />
  <h3>查询结果</h3>
  <include file="Public:fx_wap" />
</div>
<div class="Included">
  <include file="Public:tc_wap" />
  <p><font>"{$wsl|subtext=10}"</font>的查询结果：</p>
  <h4>暂未收录</h4>
  <dl>
    <dt>这是个黑平台/公司</dt>
    <dd><a href="__APP__/exposure.html">我要去曝光</a></dd>
  </dl>
  <dl>
    <dt>我是企业的经营者</dt>
    <dd><a href="__APP__/auth.html" class="orgen">我要去认证</a></dd>
  </dl>
</div>
<include file="Public:footer_wap" />
</body>
</html>
