<span class="span_title">企业性质：</span>
<span class="span_control">
<select name="nature" style="width:180px;">
                              <option value="">---请选择---</option>
                              <option value="003001" <if condition="'003001' eq $nature">selected='selected'</if>>公司</option>
                                 <option value="003002" <if condition="'003002' eq $nature">selected='selected'</if>>平台</option>
                              </select>
                              </span>