
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/css/unicorn.main.css" />
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/css/unicorn.jcs.css" class="skin-color" />
    <link href="__PUBLIC__/Azureadmin/Scripts/Lib/artDialog/skins/twitter.css" rel="stylesheet"/>
    <link href="__PUBLIC__/Azureadmin/Content/css/global.css" rel="stylesheet"/>

    
    <link href="__PUBLIC__/Azureadmin/Content/ColumnManager/index.css" rel="stylesheet" />
    <link href="__PUBLIC__/Azureadmin/Content/css/jquery.treetable.css" rel="stylesheet" />
    <link href="__PUBLIC__/Azureadmin/Content/css/jquery.treetable.theme.default.css" rel="stylesheet" />

</head>
<body>
    <link href="__PUBLIC__/Azureadmin/Content/Home/_partialhead.css" rel="stylesheet" />
    <link href="__PUBLIC__/Azureadmin/Content/ComMessage/commessage.css" rel="stylesheet" />
    <script src="__PUBLIC__/Azureadmin/Scripts/Lib/jquery.js" type="text/javascript"></script>
    <script src="__PUBLIC__/Azureadmin/Scripts/Home/_partialhead.js" type="text/javascript"></script>
    <script src="__PUBLIC__/Azureadmin/Scripts/ComMessage/ComMessage-common.js"></script>

<div id="header">
    <h1><span>机构服务平台</span></h1>
</div>

<include file="Public:welcome" />

<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        
        
        <li><a href="/Home/HelpPage" target="_blank"><span class="text">帮助</span></a></li>
    </ul>
</div>

    <include file="Public:navigate" />
    
    <div id="content">
        <div id="breadcrumb"><a href="__APP__/Azureadmin/Index"><i class="icon-home"></i>欢迎</a><a href="__APP__/Azureadmin/Modules/Index" class="current">前台模块管理</a></div>
        
        <div class="container-fluid">
            
<div class="widget-box">
    <div class="widget-title">
        <span class="icon">
            <i class="icon-th-list"></i>
        </span>
        <h5>前台模块管理</h5>
        <div class="buttons">
            <button class="btn btn-primary btn-mini" onclick="op.x(0)">新增</button>
            <button class="btn btn-mini btn-inverse" onclick="op.Refresh();"><i class="icon-refresh icon-white"></i>刷新</button>
        </div>
    </div>
    <div class="widget-content nopadding">
        <table id="table" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="ui-state-default" style='width:180px'>模块名称</th>
                    <th class="ui-state-default">模块地址</th>
                    <th class="ui-state-default">模块简介</th>
                    <th class="ui-state-default" style='width:155px'>所属版本</th>
                    <th class="ui-state-default" style='width:60px'>必要模块</th>
                    <th class="ui-state-default width3">操作</th>
                </tr>
            </thead>
            <tbody id="grid">    
                <volist name="list" id="item">            
                <tr data-tt-parent-id='0' data-tt-id='{$item.MoId}'>
                    <td><span class='column' title='{$item.MoName}'>{$item.MoName}</span></td>
                    <td>{$item.MoUrl}</td>
                    <td title=''>{$item.MoIntro}</td>
                    <td>
                    <if condition="$item.MoType eq 1">
                    白金版，钻石版，尊享版
                    <elseif  condition="$item.MoType eq 2" />
                    钻石版，尊享版
                    <else />
                    尊享版
                    </if>
                    </td>
                    <td style='text-align: center;'>
                    <if condition="$item.MoNeed eq 1">
                    是
                    <else />
                    否
                    </if>
                    </td>
                    <td><button onclick='op.x(0,{$item.MoId},this)' data-isneed='1' class='btn btn-mini'>增加子模块</button>&nbsp;<button onclick='op.x(0,null,this)' class='btn btn-primary btn-mini'>增加同级模块</button>&nbsp;<button onclick='op.y(this,{$item.MoId})' class='btn btn-danger btn-mini'>删除模块</button>&nbsp;<button onclick='op.z(this,{$item.MoId})' class='btn btn-mini'>修改模块</button></td>
                </tr>
                <volist name="item._ex" id="s_item">
                    <tr data-tt-parent-id='{$s_item.MoPid}' data-tt-id='{$s_item.MoId}'>
                        <td><span class='column' title='{$s_item.MoName}'>{$s_item.MoName}</span></td>
                        <td>{$s_item.MoUrl}</td>
                        <td title=''>{$s_item.MoIntro}</td>
                        <td>
                        <if condition="$s_item.MoType eq 1">
                        白金版，钻石版，尊享版
                        <elseif  condition="$s_item.MoType eq 2" />
                        钻石版，尊享版
                        <else />
                        尊享版
                        </if>
                        </td>
                        <td style='text-align: center;'>
                        <if condition="$s_item.MoNeed eq 1">
                        是
                        <else />
                        否
                        </if>
                        </td>
                        <td><button onclick='op.x(0,null,this)' class='btn btn-primary btn-mini'>增加同级模块</button>&nbsp;<button onclick='op.y(this,{$s_item.MoId})' class='btn btn-danger btn-mini'>删除模块</button>&nbsp;<button onclick='op.z(this,{$s_item.MoId})' class='btn btn-mini'>修改模块</button></td>
                    </tr>
                </volist>
               </volist>
            </tbody>
        </table>
    </div>
</div>

            
        </div>
    </div>
    <script src="__PUBLIC__/Azureadmin/Scripts/Lib/jquery.js"></script>
    <script src="__PUBLIC__/Azureadmin/Scripts/Lib/bootstrap.js"></script>
    <script src="__PUBLIC__/Azureadmin/Scripts/Lib/menu.js"></script>
    <script type="text/javascript">
    var resource = '{$resource}';
    </script>
    <script src="__PUBLIC__/Azureadmin/Scripts/Lib/require.js"></script>
    <script src="__PUBLIC__/Azureadmin/Scripts/config.js"></script>
    <script src="__PUBLIC__/Azureadmin/Scripts/common.js"></script>
    <script type="text/javascript">
        var controller = '{$controller}';
        $('#breadcrumb a:last-child').css('background-image', 'none');
        $(window).resize(function () {
            var height = $('#sidebar>ul').height() + 100;
            if (height < 600) {
                height = 600;
            }
            $('#content').css('min-height', height + 'px');
        }).resize();
    </script>
    
    <script type="text/javascript" src="__PUBLIC__/Azureadmin/Scripts/Lib/jquery.treetable.js"></script>
    <script src="__PUBLIC__/Azureadmin/Scripts/Modules/index.js"></script>

</body>
</html>
