.row
{
    width: 400px;
    margin-left: 25px;
}

.title
{
    border-bottom: 1px dashed #ccc;
    margin-bottom: 10px;
}

.col
{
    float: left;
    line-height: 32px;
    margin-right: 5px;
}

.span
{
    width: 45px;
    text-align: right;
}

.width
{
    width: 280px;
}

.sel
{
    width: 265px;
    margin-right: 5px;
}

textarea
{
    height: 102px;
    resize: none;
}

#chkAll
{
    margin: 0px;
}

div.col div.checker
{
    line-height: normal;
    height: auto;
    width: auto;
    float: left;
    margin-top: 6px;
    position:static;
}

.tooltip-inner
{
    padding:5px 7px;
}

.update
{
    margin-left: 57px;
    margin-top: 10px;
}

.top_r
{
    float: right;
    margin-top: 6px;
    margin-right: 8px;
}

#grid table{table-layout: fixed;}
#grid td{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.width1{width:70px;}
.width2{width:60px;}
.width3{width:130px;}
.width4{width:85px;}