<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>YMS后台管理</title>
<link rel="stylesheet" rev="stylesheet" href="./../../../Public/admin/css/style.css" type="text/css" media="all" />
<script type="text/javascript" src="./../../../../../Public/js/jquery-1.9.1.min.js"></script>

<script language="JavaScript" type="text/javascript">
function tishi()
{
  var a=confirm('数据库中保存有该人员基本信息，您可以修改或保留该信息。');
  if(a!=true)return false;
  window.open("冲突页.htm","","depended=0,alwaysRaised=1,width=800,height=400,location=0,menubar=0,resizable=0,scrollbars=0,status=0,toolbar=0");
}

function check()
{
	document.getElementById("aa").style.display="";
}

//动态添加属性值
function add_row(cur_row)
{
	 var attr_name = $('#add_attr_val').val();
	 if('' == attr_name)
	 {
	 	alert('请输入属性值');
	 	return;
	 }
	 var is_exists = false;
	 //检查是否存在
	 $("input[name='val[]']").each(
		function(){
			if(attr_name == $(this).val())
			{
				alert('此属性值已存在');
				$('#add_attr_val').val('');			
				is_exists = true;
				return;
			}
	 });

	 if(!is_exists)
	 {
	 	 var tr_str =  "<tr> "
				 + "	    <td nowrap=\"nowrap\" align=\"right\" width=\"30%\" align=\"right\">属性值:</td> "
			     + "	    <td>"+attr_name+"<input type=\"hidden\" width=\"30%\" name=\"val[]\" style=\"width:154px\" value=\""+attr_name+"\"/>"
			     + "              <a href=\"#\" onclick=\"remove_row(this);\">[-]</a></td>"
				 + "  </tr>";
		 $('#id_val').after(tr_str);
		 $('#add_attr_val').val('');
	 }
}


function remove_row(cur_obj)
{
	//判定是否是移除旧的
	if($(cur_obj).attr("is_old"))
	{
		var attr_val_id = $(cur_obj).attr('value');
		$('#del_val_id').append('<input type="hidden" name="del_attr_val[]" value="'+attr_val_id+'">');
	}
	$(cur_obj).parent().parent().remove();
}
</script>
<style type="text/css">
<!--
.atten {font-size:12px;font-weight:normal;color:#F00;}
-->
</style>
</head>

<body class="ContentBody">
  <form action="" method="post" enctype="multipart/form-data" name="form">
<div class="MainDiv">
<table width="99%" border="0" cellpadding="0" cellspacing="0" class="CContent">
  <tr>
      <th class="tablestyle_title" >编辑属性</th>
  </tr>
  <tr>
    <td class="CPanel">
		
		<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
		<tr>
			<td align="left">
				<input type="button" name="Submit" value="保存" class="button" onclick="alert('保存成功！');"/>　			
				<input type="button" name="Submit2" value="返回" class="button" onclick="window.history.go(-1);"/>			</td>
		</tr>
		<tr align="center">
			<td class="TablePanel">&nbsp;</td>
		</tr>
			<TR>
			<TD width="100%">
				<fieldset style="height:100%;">
				<legend>编辑属性</legend>
					  <table border="0" cellpadding="2" cellspacing="1" style="width:100%" id="id_table">
					 
					  <tr>
					    <td nowrap align="right" width="30%">属性名称:</td>
					    <td width="35%"><input name='name' type="text" class="text" style="width:154px" value="{$attr_info.name}" />
				        <span class="red">*</span></td>
					  </tr>
					    
					    
					  <tr id="id_val">
					    <td nowrap="nowrap" width="30%" align="right"><a href="#" onclick="javascript:add_row();">[+]</a>属性值:</td>
					    <td width="35%"><input class="text" id="add_attr_val" style="width:154px" value=""/>*</td>
					  </tr>

					  <volist name="attr_val_list" id="attr_val">
						<tr>
					    <td nowrap="nowrap" width="30%" align="right">
					    属性值:</td>
					    <td width="35%">{$attr_val.attr_val_name}
					    <a href="#" is_old=1 value="{$attr_val.attr_val_id}" onclick="remove_row(this);">[-]</a>
					    <input type="hidden" name="old_val[]" value="{$attr_val.attr_val_id}"/>
					    </td>
					  </tr>
					  </volist>

					  <div id="del_val_id">

					 </div>

					  </table>
			  <br />
				</fieldset>			</TD>
		</TR>
		</TABLE>
	 </td>
  </tr>
		
		<TR>
			<TD colspan="2" align="center" height="50px">
			<input type="hidden" name="id" value="{$attr_info.id}" />
			<input type="submit" name="submit" value="保存" class="button"/>　
			
			<input type="button" name="Submit2" value="返回" class="button" onclick="window.history.go(-1);"/></TD>
		</TR>
		</TABLE>
	
	 </td>
  </tr>
  
  
  
  </table>

</div>
</form>
</body>
</html>
