.top_r
{
    float:right;
    margin-top:6px;
    margin-right:8px;
}

#grid{table-layout: fixed;}
#grid td{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;text-align:center;}
.width1{width: 250px;}
#grid .td-tree{text-align:left;}