/*------------------ common ------------------------*/
.clearfix { clear:both;display:block;height:0;overflow:hidden;font-size:0} 
.fl{ float:left;}
.fr{ float:right;}
.color_red{ color:#de0000;}
.color_green{ color:green;}
.color_3fb500{ color:#3fb500;}
.color_b9b5bf{color:#b9b5bf;}
.color_206f96{ color:#206f96;}
.color_333{ color:#333;}
.font_bold{ font-weight:bold;}
.mt_10{ margin-top:10px;}
.mt_15{ margin-top:15px;}
.mt_14{ margin-top:14px;}
.mt_20{ margin-top:20px;}
.mt_30{ margin-top:30px;}
.mt_160{ margin-top:160px;}
.mt_18{ margin-top:18px;}
.ml_8{ margin-left:8px;}
.ml_7{ margin-left:7px;}
.ml_11{ margin-left:11px;}
.pb_20{ padding-bottom:20px;}
.wd_280{ width:275px;}
.wd_320{ width:320px;}
.wd_200{ width:210px;}
.bold{ font-weight:bold;}
.red,.red:link,.red:hover{color:#CC0000;}
.lightred,.lightred:link,.lightred:visited,.lightred:hover{color:#FF9900;}
.blue,.blue:link,.blue:visited,.blue:hover{color:#003399;}
.lightblue,.lightblue:link,.lightblue:visited,.lightblue:hover{color:#2860FF;}
.gray,.gray:link,.gray:visited,.gray:hover{ color:#6B6B6B}
.black,.black:link,.black:visited,.black:hover{color:#000000;}
.field-validation-error {color: red;}
.undis {display:none}
.dis {display:block;}
