.wel {
    margin:0 0 5px 20px;
    font-size: 20px;
}

.info_l {
    float: left;
}

    .info_l .adavatar {
        width: 198px;
        height: 200px;
    }

    .info_l ul {
        width: 300px;
        float: left;
        list-style: none;
    }

        .info_l ul li {
            padding: 20px 0;
        }
