.uploadtips
{
    color: #cdcdcd;
}

.fontleft
{
    padding-left: 20px;
    text-align: left !important;
}

.s-hide
{
    display: none;
}

.span4
{
    padding: 20px;
    text-align: right;
}

.s-auto
{
    width: auto;
}

#div_edit
{
    width: 400px;
    height: 550px;
}

.class1
{
    text-align: center;
    padding: 15px;
}

.div-file
{
    width: 100%;
    text-align: center;
    padding-left: 145px;
    padding-top: 10px;
    padding-bottom: 10px;
}
