<include file="Public/header" />

<body class="ContentBody">
  <form method="post" enctype="multipart/form-data" name="form">
<div class="MainDiv">
<table width="99%" border="0" cellpadding="0" cellspacing="0" class="CContent">
  <tr>
      <th class="tablestyle_title" >可信企业</th>
  </tr>
  <tr>
    <td class="CPanel">
		
		<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
		
		<tr align="center">
			<td class="TablePanel">&nbsp;</td>
	        </tr>
			<TR>
			<TD width="100%">
				<fieldset style="height:100%;">
				<legend>可信企业</legend>
					  <table border="0" cellpadding="2" cellspacing="1" style="width:100%">
					   
                                           <tr>
					    <td nowrap align="right" width="10%"><b>关联企业:</b></td>
					    <td width="30%">
                                            <if condition="0 eq $obj['company_id']">
                                            未关联
                                            <else />
                                            {$company_list[$obj['company_id']]}
                                            </if>
				           </td>
                                            <td nowrap align="right" width="10%"><b>会员昵称:</b></td>
					    <td width="30%">                                           
                                            {$obj.nickname}
				           </td>
					   </tr>
				        
                                          <tr>
					    <td nowrap align="right" width="10%"><b>企业性质:</b></td>
					    <td width="30%">
                                             <if condition="'003001' eq $obj['nature']">
                                                公司
                                            <else />
                                                平台
                                            </if>
				           </td>
                                            <td nowrap align="right" width="10%"><b>所属行业:</b></td>
					    <td width="30%">
                                             <if condition="'004001' eq $obj['trade']">
                                                贵金属
                                                <elseif condition="'004002'  eq $obj['trade']"/>
                                                外汇
                                                <elseif condition="'004003'  eq $obj['trade']"/>
                                                石油
                                                <elseif condition="'004004'  eq $obj['trade']"/>
                                                大宗商品
                                                <elseif condition="'004005'  eq $obj['trade']"/>
                                                其他
                                            </if>
				           </td>
					   </tr>
						
					   <tr>
					    <td nowrap align="right" width="10%"><b>公司全称:</b></td>
					    <td width="30%">
                                            {$obj.company_name}
				           </td>
                                           <td nowrap align="right" width="10%"><b>公司简称:</b></td>
					    <td width="30%">
                                            {$obj.corporation}
				           </td>
					   </tr>                                           
						
                                            <tr>
					    <td nowrap align="right" width="10%"><b>注册地址:</b></td>
					    <td width="30%">
                                            {$obj.reg_address}
				           </td>
                                           <td nowrap align="right" width="10%"></td>
					    <td width="30%">
                                            
				           </td>
					   </tr>
                                           
                                           <tr>
					    <td nowrap align="right" width="10%"><b>营业执照:</b></td>
					    <td width="30%">
                                            <a style="cursor: pointer;" onclick="view_pic('{$obj.busin_license_url}');">
                                            <img src="{$obj.busin_license_url}" width="25px" height="25px"/>
                                            </a>                                            
				           </td>
                                            <td nowrap align="right" width="10%"><b>机构代码证:</b></td>
					    <td width="30%">
                                            <a style="cursor: pointer;" onclick="view_pic('{$obj.code_certificate_url}');">
                                            <img src="{$obj.code_certificate_url}" width="25px" height="25px"/>
                                            </a>
				           </td>
					   </tr>
                                          
                                          
                                           <tr>
					    <td nowrap align="right" width="10%"><b>公司电话:</b></td>
					    <td width="30%">
                                            {$obj.telephone}
				           </td>
                                           <td nowrap align="right" width="10%"><b>官方网址:</b></td>
					    <td width="30%">
                                            {$obj.website}
				           </td>
					   </tr>
                                                                                           
                                            <tr>
					    <td nowrap align="right" width="10%"><b>官网备案:</b></td>
					    <td width="30%">
                                            {$obj.record}
				            </td>
                                            <td nowrap align="right" width="10%">
                                            <if condition="'003001' eq $obj['nature']"><b>代理平台:</b></if>
                                            </td>
					    <td width="30%">
                                            <if condition="'003001' eq $obj['nature']">
                                            {$obj.agent_platform}
                                            </if>
				           </td>
					   </tr>
                                           
                                           <tr>
					    <td nowrap align="right" width="10%" >
                                            <if condition="'003001' eq $obj['nature']">
                                            <b>会员编码:<b/>
                                            </if>
                                            </td>
					    <td width="30%">
                                            <if condition="'003001' eq $obj['nature']">
                                            {$obj.mem_sn}
                                            </if>
				            </td>
                                            <td nowrap align="right" width="10%">
                                            <if condition="'003001' eq $obj['nature']">
                                            <b>资质证明:<b/>
                                            </if>
                                            </td>
					    <td width="30%">
                                            <a style="cursor: pointer;" onclick="view_pic('{$obj.certificate_url}');">
                                            <img src="{$obj.certificate_url}" width="25px" height="25px"/>
                                            </a>
                                            </if>
				            </td>
					   </tr>
                                           
                                           
                                            <tr>
					    <td nowrap align="right" width="10%" >
                                            <if condition="'003001' eq $obj['nature']"><b>查询网址:<b/></if>
                                            </td>
					    <td width="30%">
                                            <if condition="'003001' eq $obj['nature']">
                                            {$obj.find_website}
                                            </if>
				           </td>
                                           <td width="10%"></td><td width="30%"></td>
					   </tr>
                                           
                                           <tr>
					    <td nowrap align="right" width="10%"><b>联系人:</b></td>
					    <td width="30%">
                                            {$obj.contact}
				           </td>
                                           <td nowrap align="right" width="10%"><b>联系电话:</b></td>
                                           <td width="30%">{$obj.mobile}</td>
					   </tr>
                                                
					  </table>
			  <br />
				</fieldset>			</TD>
		</TR>
		</TABLE>
	 </td>
  </tr>
		
		<TR>
			<TD colspan="2" align="center" height="50px">
			<input type="button" name="Submit2" value="返回" class="button" onclick="window.history.go(-1);"/>
			</TD>
		</TR>
		</TABLE>
	
	
	 </td>
  </tr>
  
  
  
  </table>

</div>
</form>
<include file="Public/pop_picture"/>
</body>
</html>


