<!Doctype html>  
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="wap-font-scale" content="no">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title>口碑</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/app_mian.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/lightbox.css"/>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/app_mian.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/lightbox-2.6.min.js" ></script>

</head>

<body>
<div id="wrap_app">

<div class="fx_logo">
	<div class="fx_logo_lt"><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip"><img src="__PUBLIC__/Home/imag/logo_fx.png" /></a></div>
  <div class="fx_btn"><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip"><img src="__PUBLIC__/Home/imag/btn01.png" /></a></div>
</div>

<div class="soubox">
<if condition="$qy_list.auth_level eq '006001' ">
	<div class="hptbox">
      <img src="__PUBLIC__/Home/imag/png12.png" />
      <div class="hbts">
          <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip"><span><img src="__PUBLIC__/Home/imag/png14.png" /></span><em>（{$qy_list.add_blk_amount}）</em></a>
      </div>
  </div>
<elseif condition="$qy_list.auth_level eq '006002' " />
  <div class="wrzbox">
      <div class="wrzbox_lt"><img src="__PUBLIC__/Home/imag/png11.png" /></div>
      <div class="wrzbox_rt">
          <span>{$qy_list.add_blk_amount}</span>
          <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip"><img src="__PUBLIC__/Home/imag/btn04.png" /></a>
        </div>
      <div class="wrzbox_rt">
          <span>{$qy_list.assist_amount}</span>
          <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip"><img src="__PUBLIC__/Home/imag/btn03.png" /></a>
      </div>
  </div>
<else />
  <div class="dzofbg">
      <div class="dzofbg_lt"><img src="__PUBLIC__/Home/imag/png01.png" /></div>
      <div class="dzofbg_rt">
        <span>{$qy_list.assist_amount}</span>
          <p><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip"><img src="__PUBLIC__/Home/imag/btn02.png" /></a></p>
      </div>
  </div>
</if>
	<div class="gsxxbox">
	  <dl>
    	<dt><img src="__PUBLIC__/Home/imag/png02.png" /></dt>
      <dd>
      	<h3><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip">{$qy_list.company_name}</a></h3>
          <p><span>其他名称：</span><a>{$qy_list.alias_list}</a></p>
      </dd>
    </dl>
  </div> 
  <div class="nrbox hf_share">
  	<div class="nrbox_txt ">
      <ul>
        <li class="qb activ" id="qb" style="margin:0">全部</li>
        <li class="ytyzx" id='pic_1'>图文</li>
        <li class="jcpl" id='has_child'>精彩</li>
        <li class="lzcp" id='{$lz.user_id}'>楼主</li>
      </ul>
    </div>
    <div class="bg_shbox">
        <dl>
           <dt><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip"><img src="{$user_photo}"></a></dt>
           <dd>
                 <h3><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip">{$lz.nickname}</a></h3>
                 <p class="bg_jss">
                   <em class="bgs">
                    <if condition="$lz.type eq '005001'">
                    <img src="__PUBLIC__/Home/imag/png04.png" />
                    <elseif condition="$lz.type eq '005002'"/>
                    <img src="__PUBLIC__/Home/imag/png05.png" />
                    <else />
                    <img src="__PUBLIC__/Home/imag/png06.png" />
                    </if>
                   </em>
                   <span>{$content}</span>
                 </p>
                 <div class="tubox">
                    <if condition="$lz.pic_1_url neq ''">
                    <a href="{$lz.pic_1_url}" data-lightbox='example-set'><img src="{$lz.pic_1_url}"/></a>
                    </if>
                    <if condition="$lz.pic_2_url neq ''">
                    <a href="{$lz.pic_2_url}" data-lightbox='example-set'><img src="{$lz.pic_2_url}"/></a>
                    </if>
                    <if condition="$lz.pic_3_url neq ''">
                    <a href="{$lz.pic_3_url}" data-lightbox='example-set'><img src="{$lz.pic_3_url}"/></a>
                    </if>
                    <if condition="$lz.pic_4_url neq ''">
                    <a href="{$lz.pic_4_url}" data-lightbox='example-set'><img src="{$lz.pic_4_url}"/></a>
                    </if>
                    <if condition="$lz.pic_5_url neq ''">
                    <a href="{$lz.pic_5_url}" data-lightbox='example-set'><img src="{$lz.pic_5_url}"/></a>
                    </if>
                 </div>
                 <p class="geshbox_hf">
                    <span class="times">{$add_time_ex}</span>
                    <span class="hf_rt">
                      <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip">顶 ({$lz.top_num})</a>|
                      <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip">回复</a>
                    </span>
                 </p> 
           </dd>
           <dd class="louzhus"><img src="__PUBLIC__/Home/imag/png10.png" /></dd>
        </dl>
        <div id="div_pl">
          <volist id="con_p" name="con_p" key="k" empty="还没有人评论哦，赶紧去吐槽吧！">
          <dl>
            <dt><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip"><img src="{$con_p.user_photo}"></a></dt>
            <dd>
              <h3><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip">{$con_p.nickname}</a></h3>
              <p class="bg_jss">
                <em class="bgs">
                <if condition="$con_p.type eq '005001'">
                <img src="__PUBLIC__/Home/imag/png04.png" />
                <elseif condition="$con_p.type eq '005002'"/>
                <img src="__PUBLIC__/Home/imag/png05.png" />
                <else />
                <img src="__PUBLIC__/Home/imag/png06.png" />
                </if>
                </em>
                <span>{$con_p.content}</span>
              </p>
              <div class="tubox">
                <if condition="$con_p.pic_1_url neq ''">
                <a href="{$con_p.pic_1_url}" data-lightbox='example-set'><img src="{$con_p.pic_1_url}"/></a>
                </if>
                <if condition="$con_p.pic_2_url neq ''">
                <a href="{$con_p.pic_2_url}" data-lightbox='example-set'><img src="{$con_p.pic_2_url}"/></a>
                </if>
                <if condition="$con_p.pic_3_url neq ''">
                <a href="{$con_p.pic_3_url}" data-lightbox='example-set'><img src="{$con_p.pic_3_url}"/></a>
                </if>
                <if condition="$con_p.pic_4_url neq ''">
                <a href="{$con_p.pic_4_url}" data-lightbox='example-set'><img src="{$con_p.pic_4_url}"/></a>
                </if>
                <if condition="$con_p.pic_5_url neq ''">
                <a href="{$con_p.pic_5_url}" data-lightbox='example-set'><img src="{$con_p.pic_5_url}"/></a>
                </if>
              </div>
              <p class="geshbox_hf">
                <span class="times">{$con_p.add_time_ex}</span>
                <span class="hf_rt">
                  <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip">顶 ({$con_p.top_num})</a>|
                  <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip">回复</a>
                </span>
              </p> 
              <div class="hfbox">
                <volist id="vo" name="con_p['re_sub_ex']">
                  <p>
                    <strong>{$vo.nickname}：</strong>{$vo.content|cont}
                    <span>{$vo.add_time|date='Y-m-d',###}</span>
                  </p>
                </volist>
                <if condition="($con_p.re_sub_count eq 1) OR ($con_p.re_sub_count gt 1)">
                <div id="abc" class="ckgds_ch"><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip">查看更多</a></div> 
                </if>       
              </div>
            </dd>
          </dl>
          </volist>
        </div>
        <if condition="$record_count_p gt 20">
        <div class="ckgdbox"><a id="ckgd_pl" href="javascript:void(0)">查看更多</a></div>
        </if> 
    </div>    
  </div>   
</div>
<div class="code_foot">
	<div class="foot_logo"><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip"><img src="__PUBLIC__/Home/imag/db_logo.png" /></a></div>
  <div class="foot_code"><a href="javascript:void(0)"><img src="__PUBLIC__/Home/imag/code.jpg" /></a><p>扫一扫<br/>简单查询黑平台</p></div>
</div>
</div>
</body>
<script type="text/javascript">
  //评论加载更多
  $(function(){
      var p          = 2; // 初始化页面，点击事件从第二页开始
      var company_id = '{$lz.company_id}';
      var id         = "{$lz.id}";
      var flag       = false;
      $('#ckgd_pl').live('click',function(){
            send();
      })
      function send(){
          if(flag){
            return false;
          }
          $.ajax({
              type:'post',
              url:"{:U('pl_pl')}",
              data:{k:p,
                    id:id,
                    company_id:company_id},
              beforeSend:function(){
                   //$("#ul1").append("<div id='load'>加载中……</div>");
              },
              success:function(data){
                if(data!=''){
                  $.each(data,function(i){
                  var rel  = '<dl>';
                      rel += '<dt><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip"><img src="'+data[i]['user_photo']+'"></a></dt>';
                      rel += '<dd><h3><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip">'+data[i]['nickname']+'</a></h3>';
                      rel += '<p class="bg_jss"><em class="bgs">';
                      if (data[i]['type'] == '005001') {
                      rel += '<img src="__PUBLIC__/Home/imag/png04.png" />';
                      }else if (data[i]['type'] == '005002') {
                      rel += '<img src="__PUBLIC__/Home/imag/png05.png" />';
                      }else{
                      rel += '<img src="__PUBLIC__/Home/imag/png06.png" />';
                      }
                      rel += '</em><span>'+data[i]['content']+'</span></p><div class="tubox">';
                      if (data[i]['pic_1_url'] != '') {
                      rel += '<a href="'+data[i]['pic_1_url']+'" data-lightbox="example-set"><img src="'+data[i]['pic_1_url']+'"/></a>';
                      }
                      if (data[i]['pic_2_url'] != '') {
                      rel += '<a href="'+data[i]['pic_2_url']+'" data-lightbox="example-set"><img src="'+data[i]['pic_2_url']+'"/></a>';
                      }
                      if (data[i]['pic_3_url'] != '') {
                      rel += '<a href="'+data[i]['pic_3_url']+'" data-lightbox="example-set"><img src="'+data[i]['pic_3_url']+'"/></a>';
                      }
                      if (data[i]['pic_4_url'] != '') {
                      rel += '<a href="'+data[i]['pic_4_url']+'" data-lightbox="example-set"><img src="'+data[i]['pic_4_url']+'"/></a>';
                      }
                      if (data[i]['pic_5_url'] != '') {
                      rel += '<a href="'+data[i]['pic_5_url']+'" data-lightbox="example-set"><img src="'+data[i]['pic_5_url']+'"/></a>';
                      }
                      rel += '</div><p class="geshbox_hf">';
                      rel += '<span class="times">'+data[i]['add_time_ex']+'</span><span class="hf_rt"><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip">顶 ('+data[i]['top_num']+')</a>|<a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip">回复</a></span>';
                      rel += '</p><div class="hfbox">';
                      $.each(data[i]['re_sub_ex'],function(j,items){
                          rel += '<p>';
                          rel += '<strong>'+items['nickname']+'：</strong>'+items['content'];
                          rel += '<span>'+items['add_time']+'</span>';
                          rel += '</p>';
                      })
                      if (data[i]['re_sub_count'] >= 1) {
                        rel += '<div class="ckgds_ch"><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip">查看更多</a></div> ';
                      }
                      rel += '</div></dd></dl>';      
                    $("#div_pl").append(rel);
                  })
                }else{
                    $("#ckgd_pl").text('已无更多');
                    flag=true;  
                }
              },
              complete:function(){
                     $("#load").remove();
              },
              dataType:'json'});
            p++;
      }
  })
</script>
<script type="text/javascript">
  $(function(){
    var qy = "{$lz.company_id}";
    var pl = "{$lz.id}";
    $(".qb").click(function(){
      var id = $(this).attr('id');//获取id属性
      send(id);     
    });
    //有图有真相
    $(".ytyzx").click(function(){
      var id = $(this).attr('id');//获取id属性
      send(id);     
    });
    //精彩评论
    $(".jcpl").click(function(){
      var id = $(this).attr('id');//获取id属性
      send(id);  
           
    });
    //楼主出品
    $(".lzcp").click(function(){
      var id = $(this).attr('id');//获取id属性
      send(id);  
           
    });
    function send(id){
          $.ajax({
              type:'post',
              url:"__URL__/comment_list",
              dataType:"json", 
              contentType: "application/x-www-form-urlencoded; charset=utf-8",
              data:{
                id:id,
                qy:qy,
                pl:pl},
              beforeSend:function(){
              },
              success:function(data){
                $("#div_pl").empty();
                $("#abc").empty();
                if(data.length != 0){
                  $.each(data,function(i,array){
                      var rel = '<dl>';
                      rel += '<dt><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip"><img src="'+data[i]['user_photo']+'"></a></dt>';
                      rel += '<dd><h3><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip">'+data[i]['nickname']+'</a></h3>';
                      rel += '<p class="bg_jss"><em class="bgs">';
                      if (data[i]['type'] == '005001') {
                      rel += '<img src="__PUBLIC__/Home/imag/png04.png" />';
                      }else if (data[i]['type'] == '005002') {
                      rel += '<img src="__PUBLIC__/Home/imag/png05.png" />';
                      }else{
                      rel += '<img src="__PUBLIC__/Home/imag/png06.png" />';
                      }
                      rel += '</em><span>'+data[i]['content']+'</span></p><div class="tubox">';
                      if (data[i]['pic_1_url'] != '') {
                      rel += '<a href="'+data[i]['pic_1_url']+'" data-lightbox="example-set"><img src="'+data[i]['pic_1_url']+'"/></a>';
                      }
                      if (data[i]['pic_2_url'] != '') {
                      rel += '<a href="'+data[i]['pic_2_url']+'" data-lightbox="example-set"><img src="'+data[i]['pic_2_url']+'"/></a>';
                      }
                      if (data[i]['pic_3_url'] != '') {
                      rel += '<a href="'+data[i]['pic_3_url']+'" data-lightbox="example-set"><img src="'+data[i]['pic_3_url']+'"/></a>';
                      }
                      if (data[i]['pic_4_url'] != '') {
                      rel += '<a href="'+data[i]['pic_4_url']+'" data-lightbox="example-set"><img src="'+data[i]['pic_4_url']+'"/></a>';
                      }
                      if (data[i]['pic_5_url'] != '') {
                      rel += '<a href="'+data[i]['pic_5_url']+'" data-lightbox="example-set"><img src="'+data[i]['pic_5_url']+'"/></a>';
                      }
                      rel += '</div><p class="geshbox_hf">';
                      rel += '<span class="times">'+data[i]['add_time_ex']+'</span><span class="hf_rt"><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip">顶 ('+data[i]['top_num']+')</a>|<a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip">回复</a></span>';
                      rel += '</p><div class="hfbox">';
                      $.each(data[i]['re_sub_ex'],function(j,items){
                          rel += '<p>';
                          rel += '<strong>'+items['nickname']+'：</strong>'+items['content'];
                          rel += '<span>'+items['add_time']+'</span>';
                          rel += '</p>';
                      })
                      if (data[i]['re_sub_count'] >= 1) {
                        rel += '<div class="ckgds_ch"><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.huanrong.searchdarkvip">查看更多</a></div> ';
                      }
                      rel += '</div></dd></dl>';
                      $("#div_pl").append(rel);      
                  })
                  
                }else{
                    $("#div_pl").text('没有符合条件的结果！');
                    return false;  
                }
              },
              complete:function(){
              }
          });
    }
  })
</script>
</html>
