.uploadtips
{
    color: #cdcdcd;
    padding: 4px;
}

.divfile
{
    padding-left: 80px;
}

.d-float
{
    float: right;
}

.d-width
{
    width: 299px;
}

.clear
{
    clear: both;
}

.class1
{
    text-align: center;
    padding: 15px;
}

body
{
    overflow-y: scroll;
}
.validtips
{
    color: red;
}
