<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>曝光台--搜黑</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/main.css"/>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/main.js" ></script>
<script type="text/javascript" id="bdshare_js" data="type=button&amp;uid=0" ></script>
</head>

<body>

<!--Begin--登陆-->   
<include file="Public:login" />
<!--End--登陆--> 
<div id="wrap">

<!--头部--Begin-->   
  <include file="Public:top" />
<!--头部--End--> 

<!--内容--Begin-->     
   <div id="content">
       <div class="baoguant_lt">
       <div class="wybaog">
          <span>“黑榜”排行</span>
          <div class="bdsharebuttonbox">
             <span class="chare">分享到：</span>
             <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
             <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
             <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
             <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
             <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
             <a href="#" class="bds_more" data-cmd="more"></a>
          </div>
          <script>
            window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
          </script>
       </div>
       <div class="dongtop">
               <ol>
                 <volist id='get_list' name='get_list' key="k">
                 <li class="to{$k}">
                     <dl>
                         <dt>{$k}</dt>
                         <dd>
                           <div class="txt">
                              <h4><p>被曝平台：<span>{$get_list.company_name}</span></p></h4>
                           </div>
                           <div class="neirong"><p class="bordera">加黑人数：<em>{$get_list.amount}</em></p><p>最早曝光时间：<span>{$get_list.last_time}</span></p></div>
                           <p class="bgdyh">曝光用户：<a href="#">西红柿炒番茄</a>、<a href="#">西红柿炒番茄</a>、<a href="#">西红柿炒番茄</a>、<a href="#">abcd</a>等35位用户</p>
                         </dd>
                     </dl>
                 </li>
                 </volist>
               </ol>
             <if condition="$record_count gt 5 ">
             <div class="djjzgd"><a href="#">点击加载更多</a></div>
             </if>
       </div>
       </div>
       <div class="baoguant_rt">
            <div class="baoguant_rt1">
                  <a href="__APP__/home/Inexposure/exposure" class="wybgs">我要曝光</a>
                  <p>已有<span>{$record_count}</span>名网友曝光了<span>{$user_amout}</span>个平台</p>
            </div>
         <div class="baoguant_rt2">
           <h3>最新曝光</h3>
           <div class="zxbaog">
             <ol>
             <volist id="list_zx" name="list_zx">
               <li>
                     <dl>
                         <dt>{$list_zx.add_time|date="H:i:s",###}</dt>
                         <dd>
                           <div class="txt">
                               <h4>{$list_zx.nickname}</h4>
                           </div>
                           <p class="ybaogle">曝光了<a href="#">{$list_zx.company_name}</a></p>
                         </dd>
                     </dl>
                 </li>
                </volist>
             </ol>
           </div>
           </div>
       
     </div>
       <div class="clear"></div>
  </div>
<!--内容--End--> 

<!--底部--Begin-->     
<include file="Public:footer" />
<!--底部--End--> 

</div>
<script type="text/javascript">
  $(function(){
    var num='';
      var rel=$('.dongtop ol li').size();
      $('.dongtop ol li:gt(4)').hide();
      $('.djjzgd a').click(function(){
          num=$('.dongtop ol li:hidden').first().prev().index();
          if($('.dongtop ol li').is(':hidden'))
          {
              $('.dongtop ol li:lt('+(num+5)+')').show();
          }
          else
          {
             $(this).text('没有更多！');
                  return false;
          }
       
        return false;
       });
  })
</script>
</body>
</html>
