<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>口碑_全国性的交易市场曝光平台</title>
<meta name="keywords" content="口碑,黑平台,黑幕曝光平台"/>
<meta name="description" content="口碑是全国性的交易市场曝光平台,携手每一位投资人共同揭开交易市场的层层黑幕,为您提供全方位的贵金属、外汇、黄金、石油等行业交易黑幕的查询、曝光。"/>
<link rel="icon" href="__PUBLIC__/s.ico" type="image/x-icon" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/main.css"/>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/main.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.form.js" ></script>
</head>

<body>
<!--Begin--登录-->   
<include file="Public:login" />
<!--End--登录--> 
<div id="wrap">

<!--头部--Begin-->   
  <include file="Public:top" />
<!--头部--End--> 

<!--内容--Begin-->     
   <div id="content_ny">
     <div class="cont_lt">
              <div class="cont_lta neye_lt">
                <ul>
                   <li><a href="__APP__/about_us.html" class="activ">关于我们</a></li>
                   <li><a href="__APP__/contact_us.html">联系我们</a></li>
                   <li><a href="__APP__/help.html" >帮助中心</a></li>
                   <li><a href="__APP__/feedback.html" >意见反馈</a></li>
                 </ul>
          </div>
               
     </div>
     <div class="content_ny_lt">
       <div class="helpbox">
         <h3 class="title_ct"><span>关于我们</span></h3>
         <div class="aboutbox">
             <div class="gywm">
                  <img src="__PUBLIC__/Home/images/pic02.jpg" width="274" height="179" />
                  <p>本网站隶属于上海夕晏网络科技服务中心，是全国最大的查询曝光网站，目前主要涉及贵金属、石油等大宗商品交易品种。</p>
                  <p>网站以精干团队，严格把关，实施宽进严出的审核标准，将企业划分为非法、未认证、合规三种类型，真正做到为投资者甄选安全可靠的交易企业。</p>
                  <p>网站更希望携手每一位投资人共同揭开交易市场的层层黑幕，营造国内绿色透明的交易环境。</p>
             </div>
           <h4 class="txt_sh">口碑——让投资更放心！</h4> 
           <div class="fangxin">
             <ul>
               <li>
                  <h5>投资者服务</h5>
                  <p>为投资者提供企业查询功能，并根据亲身经历曝光非法企业，引起更多投资者的警惕！</p>
                  <div class="tzx wybg_a"><span>我是投资者</span><a href="__APP__/exposure.html">我要曝光</a></div>
               </li>
               <li class="bians">
                  <h5>机构服务</h5>
                  <p>为机构提供资质证明的专业渠道，让投资者安心开户，放心入金。</p>
                  <div class="tzx wybg_a"><span>我是机构</span><a href="__APP__/auth.html">我要认证</a></div>
               </li>
             </ul>
           </div>
           <div class="wmdmb">
             <dl>
                <dt><img src="__PUBLIC__/Home/images/bg05.gif" width="204" height="96" /></dt>
                <dd>
                    <p>将要开户的投资者可以在安全的企业投资，不会因为“跑路”导致血本无归。</p>
                    <p>已经开户的投资者可以查询、验证，提早发现，减少损失。</p>
                    <p>受“非法企业”毒害的投资者现身说法，警示后人，或结盟寻回部分损失。</p>
                </dd>
             </dl>
           
           </div>
         </div>
       </div>
     </div>
     <div class="clear"></div>
  </div>
<!--内容--End--> 

<!--底部--Begin-->     
   <include file="Public:footer" />
<!--底部--End--> 

</div>
</body>
</html>
