<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>联系我们_口碑</title>
<meta name="keywords" content="口碑,黑平台,黑幕曝光平台"/>
<meta name="description" content="口碑是全国性的交易市场曝光平台,携手每一位投资人共同揭开交易市场的层层黑幕,为您提供全方位的贵金属、外汇、黄金、石油等行业交易黑幕的查询、曝光。"/>
<link rel="icon" href="__PUBLIC__/s.ico" type="image/x-icon" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/main.css"/>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/main.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.form.js" ></script>
</head>

<body>
<!--Begin--登录-->   
<include file="Public:login" />
<!--End--登录--> 
<div id="wrap">

<!--头部--Begin-->   
  <include file="Public:top" />
<!--头部--End-->

<!--内容--Begin-->     
   <div id="content_ny">
     <div class="cont_lt">
          <div class="cont_lta neye_lt">
                <ul>
                   <li><a href="__APP__/about_us.html">关于我们</a></li>
                   <li><a href="__APP__/contact_us.html" class="activ">联系我们</a></li>
                   <li><a href="__APP__/help.html" >帮助中心</a></li>
                   <li><a href="__APP__/feedback.html" >意见反馈</a></li>
                 </ul>
          </div>          
     </div>
     <div class="content_ny_lt">
       <div class="helpbox">
         <h3 class="title_ct"><span>联系我们</span></h3>
         <div class="lxwmbox">
            <p class="jianyi">如您有任何的疑问和问题，或者您对本站有意见和建议，您可以联系我们：</p>
            <p class="jianyi">电话：021-51217150</p>
            <p class="jianyi">邮箱：xiyanwangluo@sina.com</p>
			<p class="jianyi">地址：上海市浦东新区张杨路960号</p>
         </div>
       </div>
     </div>
     <div class="clear"></div>
  </div>
<!--内容--End--> 

<!--底部--Begin-->     
<include file="Public:footer" />
<!--底部--End--> 

</div>
</body>
</html>
