<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>帮助中心_口碑</title>
<meta name="keywords" content="口碑，黑平台查询，黑平台曝光，贵金属黑平台，外汇黑平台"/>
<meta name="description" content="口碑是全国性的交易市场曝光平台,携手每一位投资人共同揭开交易市场的层层黑幕,为您提供全方位的贵金属、外汇、黄金、石油等行业交易黑幕的查询、曝光。"/>
<link rel="icon" href="__PUBLIC__/s.ico" type="image/x-icon" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/main.css"/>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/main.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.form.js" ></script>
</head>

<body>
<!--Begin--登录-->   
<include file="Public:login" />
<!--End--登录--> 
<div id="wrap">

<!--头部--Begin-->   
  <include file="Public:top" />
<!--头部--End-->

<!--内容--Begin-->     
   <div id="content_ny">
     <div class="cont_lt">
              <div class="cont_lta neye_lt">
                <ul>
                   <li><a href="__APP__/about_us.html">关于我们</a></li>
                   <li><a href="__APP__/contact_us.html">联系我们</a></li>
                   <li><a href="__APP__/help.html" class="activ">帮助中心</a></li>
                   <li><a href="__APP__/feedback.html">意见反馈</a></li>
                 </ul>
          </div>
               
     </div>
     <div class="content_ny_lt">
       <div class="helpbox">
         <h3 class="title_ct"><span>帮助中心</span></h3>
         <div class="helps">
           <ul>
             <li class="actives">
                <h3>口碑能做什么？</h3>
                <div class="help_hide">
                  <p>口碑是一家专业的公司资质查询平台，用户注册后可以查询公司资质，曝光黑平台，更可以寻找“同伴”，进行维权。</p>
                </div>
             </li>
             <li>
                <h3>口碑能查询哪些公司？</h3>
                <div class="help_hide">
                  <p>口碑数据库已涵盖了{$w_list}家公司、平台，目前仅支持国内外贵金属和外汇企业的查询，将来会扩充到其他行业。</p>
                </div>
             </li>
             <li>
                <h3>合规企业一定是可靠的吗？会不会倒闭跑路？</h3>
                <div class="help_hide">
                  <p>口碑合规企业认证及其严格，全部由公司提供认证资料，口碑工作人员多方考察过后，才会授予。所以请投资者放心投资！</p>
                </div>
             </li>
             <li>
                <h3>为什么我曝光了，曝光动态里没有？</h3>
                <div class="help_hide">
                  <p>所有用户的曝光信息，会由于口碑工作人员核实以后，在进行显示，确保不放过一家“黑平台”，但也不“冤枉”良心企业。</p>
                </div>
             </li>
             <li>
                <h3>如何有效识别黑平台？</h3>
                <div class="help_hide">
                  <p>用户可以从如下几个方面：注册牌照、监管机构、入金帐户名称及属性，简单识别是否黑平台。</p>
                </div>
             </li>
             <li>
                <h3>受到黑平台的毒害，口碑能帮忙维权吗？</h3>
                <div class="help_hide">
                  <p>口碑将来会集合同公司的受害者，组织乃至帮助大家维权。但目前，口碑尚未推出此项服务。</p>
                </div>
             </li>
           </ul>
         </div>
       </div>
     </div>
     <div class="clear"></div>
  </div>
<!--内容--End--> 

<!--底部--Begin-->     
<include file="Public:footer" />
<!--底部--End--> 

</div>
</body>
</html>
