
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="__PUBLIC__/Analystadmin/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Analystadmin/Content/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Analystadmin/Content/css/unicorn.main.css" />
    <link rel="stylesheet" href="__PUBLIC__/Analystadmin/Content/css/unicorn.jcs.css" class="skin-color" />
    <link href="__PUBLIC__/Analystadmin/bundles/basicCss?v=e961GYJIgjfBDjJc0xbZ0FcMyKvofaWQQoRovpMQGzY1" rel="stylesheet"/>

    
    <style type="text/css">
        td { vertical-align: middle!important; }
        .aui_content { padding: 0!important; }
        .widget-content .buttons { float: right; padding-right: 18.5%; }
        .radio label { display: inline-block; width: 40px; padding-left: 20px; }
        .contentTD { width: 50%; }
        .typeTD { text-align: center!important; }
        .timeTD { width: 125px; }
        .contentTD span { display: inline-block; word-wrap: break-word; white-space: normal; word-wrap: break-word; width: 780px; }
    </style>

</head>
<body>
    <link href="__PUBLIC__/Analystadmin/Content/Home/_partialhead.css" rel="stylesheet" />
<link href="__PUBLIC__/Analystadmin/Content/ComMessage/commessage.css" rel="stylesheet" />
<script src="__PUBLIC__/Analystadmin/Scripts/Lib/jquery.js" type="text/javascript"></script>
<script src="__PUBLIC__/Analystadmin/Scripts/Home/_partialhead.js" type="text/javascript"></script>
<script src="__PUBLIC__/Analystadmin/Scripts/ComMessage/ComMessage-common.js"></script>

<div id="header">
    <h1><span>机构服务平台</span></h1>
</div>

<div id="welcome" class="navbar navbar-inverse">
    <ul class="nav">
        

        <li class="dropdown" id="menu-personal">
            <a href="javascript:;" data-toggle="dropdown" data-target="#menu-personal" class="dropdown-toggle">
                <span class="text">欢迎您，程春松 (分析师)</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a title="" href="javascript:changePassword();">修改密码</a></li>
            </ul>
        </li>
        <li class="logo">
            <img class="logo" src="http://spic.cngold.com.cn/102587/img/base/2014/8/29/201408291109261899190660.png" />
        </li>
        <li><a href="/Login/Exit"><i class="icon icon-share-alt icon-white"></i><span class="text">退出</span></a></li>
    </ul>
</div>

<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        
        
        <li><a href="/Home/HelpPage" target="_blank"><span class="text">帮助</span></a></li>
    </ul>
</div>

    <div id="sidebar">
        <ul>
            <li class="submenu">
                <a href="javascript:;">
                    <i class="icon-th-list"></i>
                    <span>文章管理</span>
                    <span class="toggle icon icon-chevron-down"></span>
                </a>
                <ul>
                    <li><a href="__APP__/Analystadmin/Comment/Index">金评管理</a></li>
                    <li><a href="__APP__/Analystadmin/RefPDF/Index">内参管理</a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="javascript:;">
                    <i class="icon-th-list"></i>
                    <span>直播室管理</span>
                    <span class="toggle icon icon-chevron-down"></span>
                </a>
                <ul>
                    <li><a href="__APP__/Analystadmin/TeacherRoom/LiveRoom">直播平台</a></li>
                </ul>
            </li>
            <li class="submenu active open">
                <a href="javascript:;">
                    <i class="icon-th-list"></i>
                    <span>多空对决管理</span>
                    <span class="toggle icon icon-chevron-down"></span>
                </a>
                <ul style="display: block;">
                    <li class="active"><a href="__APP__/Analystadmin/LongShort/Index">多空观点</a></li>
                    <li><a href="__APP__/Analystadmin/VotesManager/Index">投票管理</a></li>
                </ul>
            </li>
            <li>
                <a href="__APP__/Analystadmin/CureManager/Index">
                    <i class="icon-th-list"></i>
                    <span>账户诊断</span>
                </a>
            </li>
            <li>
                <a href="__APP__/Analystadmin/UserManager/Analyst">
                    <i class="icon-th-list"></i>
                    <span>个人信息管理</span>
                </a>
            </li>
        </ul>
    </div>
    
    <div id="content">
        <div id="breadcrumb"><a href="/Home/Index"><i class="icon-home"></i>欢迎</a><a href="javascript:;">多空对决管理</a><a href="/LongShort/Index" class="current">多空观点</a></div>
        
        <div class="container-fluid">
            

<div class="widget-box" id="ContentBox">
    <div class="widget-title">
        <span class="icon">
            <i class="icon-pencil"></i>
        </span>
        <h5>今日观点</h5>
    </div>
    <div class="widget-content">
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label">多空观点：</label>
                <div class="controls">
                    <div class="radio">
                        <label>
                            <input name="radios" type="radio" value="1">做多</label>
                        <label>
                            <input name="radios" type="radio" value="0">震荡</label>
                        <label>
                            <input name="radios" type="radio" value="-1">做空</label>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <input type="hidden" name="TipId" value="" id="TipId" />
                <label class="control-label">观点内容：</label>
                <div class="controls">
                    <div class="textarea">
                        <textarea autofocus="autofocus" required="required" wrap="soft"></textarea>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                    <div class="buttons">
                        <button class="btn btn-primary" id="submitBtn" name="submitBtn"><i class="icon-ok icon-white"></i>发布观点</button>
                        <button class="btn" id="closeBtn" onclick="$('.aui_close').trigger('click')" style="display: none">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>


<div class="widget-box">
    <div class="widget-title">
        <span class="icon">
            <i class="icon-th-list"></i>
        </span>
        <h5>历史观点管理</h5>
        <div class="buttons">
            <button class="btn btn-mini btn-inverse" onclick="op.Refresh();"><i class="icon-refresh icon-white"></i>刷新</button>
        </div>
    </div>
    <div class="widget-content nopadding">
<div id="grid"><table class="table table-bordered data-table dataTable"><thead><th class="ui-state-default">发布时间</th><th class="ui-state-default">内容</th><th class="ui-state-default">多空</th><th class="ui-state-default">操作</th></thead><tbody><tr><td class="timeTD"><span>2014-11-26 15:10</span></td><td class="contentTD"><span>行情明显偏多，不建议接入介入空单</span></td><td class="typeTD"><span data-value="1">做多</span></td><td><div>
                        <button class="btn btn-primary" onclick="op.Edit(this,13288)"><i class="icon-pencil icon-white"></i>修改</button>
                        <button class="btn btn-danger" onclick="op.Delete(this,13288)"><i class="icon-remove icon-white"></i>删除</button>
                    </div></td></tr></tbody></table><div class="dataTables_wrapper"><div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix"><div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers"><a href="javascript:;" class="first ui-corner-tl ui-corner-bl fg-button ui-button ui-state-default ui-state-disabled" title="首页" >首页</a><span><a currpage="1" class="fg-button ui-button ui-state-default ui-state-disabled" href="javascript:;" title="第1页">1</a></span><a href="javascript:;" class="last ui-corner-tr ui-corner-br fg-button ui-button ui-state-default ui-state-disabled"  title="末页">末页</a></div></div></div></div>
    </div>
</div>

            
        </div>
    </div>
    <script src="__PUBLIC__/Analystadmin/bundles/basicJs?v=VEBAn_rqP8lcxeg7zmvLgQf31kk8SiPMstbdeK0r9p81"></script>

    <script type="text/javascript">
        $('#breadcrumb a:last-child').css('background-image', 'none');
        $(window).resize(function () {
            var height = $('#sidebar>ul').height() + 100;
            if (height < 600) {
                height = 600;
            }
            $('#content').css('min-height', height + 'px');
        }).resize();
        eval(function (p, a, c, k, e, d) { e = function (c) { return c.toString(36) }; if (!''.replace(/^/, String)) { while (c--) { d[c.toString(a)] = k[c] || c.toString(a) } k = [function (e) { return d[e] }]; e = function () { return '\\w+' }; c = 1 }; while (c--) { if (k[c]) { p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]) } } return p }('5(6(){4(3.0("1!#2*7")==""){8.d.e="/c/b.9"}},a*f);', 16, 16, 'getCookie|P|sOD1|CommonFn|if|setInterval|function|sd4Plw|window|html|60|Index|Login|location|href|1000'.split('|'), 0, {}))
    </script>
    
    <script type="text/javascript">
        var op = {};
        $(function () {
            op.Refresh = function () {
                var page = $(".dataTables_wrapper").find("a[currpage]").attr("currpage");
                $("#grid").load(window.location.href + '?page=' + page + " #grid");
            };
            op.Edit = function (obj, id) {
                require(["dialog"], function (dia) {
                    dia.LoadEle( $("#ContentBox")[0].outerHTML, function () {
                        $(".aui_dialog #ContentBox").removeClass("widget-box").css("width", "600px");
                        $(".aui_dialog #closeBtn").show(); $(".aui_dialog #TipId").val(id);
                        var pa = $(obj).parents("tr");
                        var con = pa.find(".contentTD").text();
                        var type = pa.find(".typeTD").find("span").data("value");
                        $(".aui_dialog textarea").val(con);
                        $(".aui_dialog input[type=radio]").each(function (i, item) {
                            if (item.value == type) {
                                item.checked = true; $(item).hide();
                            } else {
                                $(item).parents("label").remove();
                            }
                        });
                        $(".aui_dialog #submitBtn").text("修改观点");
                        $(".aui_dialog textarea").focus().css("height", $(".aui_dialog textarea")[0].scrollHeight);
                    }, true);
                });
            };
            op.Delete = function (obj, id) {
                require(["dialog"], function (dia) {
                    dia.ConfirmBox("<div>您确定要删除吗？</div>", "确定", function () {
                        $(obj).attr("disabled", "disabled");
                        $.post("RemoveThis.html", { id: id }, function (data) {
                            if (data && data.flag) {
                                dia.SuccessBox("删除成功");
                                $(obj).removeAttr("disabled");
                                op.Refresh();
                            } else {
                                dia.ErrorBox("删除失败");
                                $(obj).removeAttr("disabled");
                            }
                        });
                    }, "取消", true, "warning");
                });
            };
            $(document.body).delegate("button[name=submitBtn]", "click", function () {
                var obj = $(this);
                require(["dialog"], function (dia) {
                    var formss = obj.parents(".form-horizontal");
                    var rd = formss.find(":checked").val();
                    if (!rd) { dia.ErrorBox("<div>请选择您的观点！&nbsp;&nbsp;</div>"); return false; }
                    var con = $.trim(formss.find("textarea").val());
                    if (con.length < 1) { dia.ErrorBox("<div>请填写内容！&nbsp;&nbsp;</div>"); return false; }
                    if (con.length > 100) { dia.ErrorBox("<div>内容过长！&nbsp;&nbsp;</div>"); return false; }
                    var id = formss.find("#TipId").val();
                    id = id.length > 0 ? id : 0;
                    rd = parseInt(rd);
                    var d = { type: rd, id: id, content: con };

                    obj.attr("disabled", "disabled");
                    $.post("SetModel.html", d, function(data) {
                        if (data && data.flag) {
                            op.Refresh();
                            obj.removeAttr("disabled");
                            $("#closeBtn").trigger("click");
                            formss.find(":radio").removeAttr("checked");
                            formss.find("textarea").val("");
                            dia.SuccessBox("发布成功");
                        } else {
                            obj.removeAttr("disabled");
                            dia.ErrorBox("发布失败");
                        }
                    });
                });
            });
        });
    </script>

</body>
</html>
