<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>黑平台曝光_贵金属交易市场黑幕曝光平台_口碑</title>
<meta name="keywords" content="口碑，黑平台查询，黑平台曝光，贵金属黑平台，外汇黑平台"/>
<meta name="description" content="口碑,全国性的交易市场曝光平台，携手每一位投资人共同揭开交易市场的层层黑幕，为投资者甄选安全可靠的交易平台，营造国内绿色透明的交易环境。"/>
<link rel="icon" href="__PUBLIC__/s.ico" type="image/x-icon" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/main.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/jquery.editable-select.min.css"/>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/js/Validform_v5.3.2.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/main.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.form.js" ></script>
</head>

<body>
<!--成功-->  
<div class="yzsbai2">
    <p id="tishi2"></p>
    <input name="" type="button" value="确 定" class="xigs2" />
</div>
<!--Begin--登录-->   
<include file="Public:login" />
<!--End--登录--> 
<div id="wrap">

<!--头部--Begin-->   
  <include file="Public:top" />
<!--头部--End--> 

<!--内容--Begin-->     
   <div id="content">
     <div class="renzheng feifas">
       <h2 class="bians">非法平台曝光台</h2>
       <div class="txneirong">
   		 <p class="txnr_ts">请如实填写后，进行曝光。</p>
       <form class="registerform" name="theForm" id="theForm" action="__URL__/exposure_ex" method="post" enctype="multipart/form-data" onsubmit="return ValidateFile()">
         <div class="xzqyxz">
                <span>企业性质：</span>
                <select name="nature" id="nature" class="qyxzz" autocomplete="off">
                  <option value="003001">公司</option>
                  <option value="003002">平台</option>
                </select>
                <span>所属行业：</span>
                <select name="trade" class="gjshu">
                  <option value="004004">大宗商品(贵金属、石油)</option>
                  <option value="004002">外汇</option>
                  <option value="004005">其他</option>
                </select>
         </div>
         <div class="txkuang  nobian">
                <dl style="margin-top:20px;margin-bottom: 35px;">
                  <dt>公司名称：</dt>
                  <dd id="gs">
                    <select id="editable-select" name="company_name1" class="gjshu form-control">
                      <volist name="list_gs" id="list_gs">
                        <option>{$list_gs}</option>
                      </volist>
                    </select><span>*必填</span>
                  </dd>
                  <dd id="pt">
                    <select id="editable-selected" name="company_name2" class="gjshu form-control">
                      <volist name="list_pt" id="list_pt">
                        <option>{$list_pt}</option>
                      </volist>
                    </select><span>*必填</span>
                  </dd>
                </dl>
                <dl>
                  <dt>涉及金额：</dt>
                  <dd>
                    <input name="amount" type="text" class="text1" datatype="s"  ignore="ignore"  /><span>元</span>
                    <div class="Validform_checktip"></div>
                  </dd>
                </dl>
                <dl>
                  <dt>公司网址：</dt>
                  <dd>
                    <input name="website" type="text" class="text1" datatype="url" ignore="ignore" errormsg="请输入正确的网址！" />
                    <div class="Validform_checktip"></div>
                  </dd>
                </dl>
                <dl>
                  <dt>曝光内容：</dt>
                  <dd>
                    <textarea name="content" class="textn" nullmsg="不能为空！" datatype="*" ></textarea><span>*</span>
                    <div class="Validform_checktip"></div>
                  </dd>
                </dl>
                <dl>
                  <dt>附件上传：</dt>
                  <dd><input name="pic_1" type="file" id="pic_1" />
                  <p>图片格式： .gif .jpg .jpeg .png </p></dd>
                </dl>
                <dl>
                  <dt>&nbsp;</dt><dd><input name="submit" id="btnAjaxSubmit" type="submit" value="我要曝光" class="textn1" /></dd>
                </dl>
              </form>
         </div>       
       </div>   
     </div>
  </div>
<!--内容--End--> 

<!--底部--Begin-->     
<include file="Public:footer" />
<!--底部--End--> 
</div>
</body>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.editable-select.min.js" ></script>
<script type="text/javascript">
    //公司
    $('#editable-select').editableSelect({
        effects: 'slide'
    });
    //平台
    $('#editable-selected').editableSelect({
        effects: 'slide'
    });
</script>
<script type="text/javascript">
   $(function(){
      var nature_ex = $('#nature').val();
      if (nature_ex == 003001) {
          $('#gs').show();
      }else{
          $('#pt').hide();
      }
      //清空公司名称
      $("#editable-select,#editable-selected").attr("value","");
      //切换公司性质
      $("#nature").change(function(){
          var nature = $(this).val();
          $("#editable-select,#editable-selected").attr("value","");
          if (nature == "003001") {
            $('#gs').show();
            $('#pt').hide();
          }
          if (nature == "003002") {
            $('#pt').show();
            $('#gs').hide();
          }
      });
  }); 
</script>
<script type="text/javascript">
    $(function(){
      $(".registerform").Validform({
        tiptype:function(msg,o,cssctl){
          if(!o.obj.is("form")){
            var objtip=o.obj.siblings(".Validform_checktip");
            cssctl(objtip,o.type);
            objtip.text(msg);
          }
        }
      });
      //表单提交成功关闭
      $(".yzsbai2 .xigs2").click(function(){
          $(".yzsbai2").hide();
          $(".bd_wd2").hide();  
          window.location.href="__APP__/user_center.html#basic_setting"; 
      });
    })
    //验证图片格式大小
    function ValidateFile(){
      var tmp     = document.getElementById("pic_1").value; 
      var userid  = '{$userid}';
      if (userid == "") {
        $(".bd_wd").css("width", $(document).width());
        $(".bd_wd").css("height", $(document).height());
        $(".bd_wd").show();
        $("#tcwindows1").show();
        return false;
      } 
	    if(tmp != ""){
        if(!/.(gif|jpg|jpeg|png|GIF|JPG|PNG|JPEG)$/.test(tmp)){
          $(".bd_wd").css("width", $(document).width());
          $(".bd_wd").css("height", $(document).height());
          $(".bd_wd").show();
          $('#tishi').text("附件类型必须是.gif,jpeg,jpg,png中的一种");
          $(".yzsbai").show();
          return false;
        }
      }
	  }
</script>
<script type="text/javascript">
    $(function () {
        var options = {
            success: function (data) {
                if(data){
                  $(".bd_wd").css("width", $(document).width());
                  $(".bd_wd").css("height", $(document).height());
                  $(".bd_wd").show();
                  if (data == 0) {
                    $('#tishi2').text("曝光成功！");
                    $(".yzsbai2").show();
                    return false;
                  }else if(data == -1){
                    $('#tishi').text("曝光失败！");
                    $(".yzsbai").show();
                    return false;
                  }else if(data == 1){
                    $('#tishi').text("图片上传失败！");
                    $(".yzsbai").show();
                    return false;
                  }else if(data == 2){
                    $('#tishi').text("没有文件上传！");
                    $(".yzsbai").show();
                    return false;
                  }else if(data == 3){
                    $('#tishi').text("文件上传错误！");
                    $(".yzsbai").show();
                    return false;
                  }else if(data == 4){
                    $('#tishi').text("上传文件不能大于400kb！");
                    $(".yzsbai").show();
                    return false;
                  }else if(data == 5){
                    $('#tishi').text("图片格式错误！");
                    $(".yzsbai").show();
                    return false;
                  }else if(data == 6){
                    $('#tishi').text("公司名称不能为空！");
                    $(".yzsbai").show();
                    return false;
                  }else if(data == 7){
                    $('#tishi').text("您还没有登录！");
                    $(".yzsbai").show();
                    return false;
                  }else if(data == 8){
                    $('#tishi').text("你填写的公司不存在！");
                    $(".yzsbai").show();
                    return false;
                  }else if(data == 9){
                    $('#tishi').text("曝光内容不能为空！");
                    $(".yzsbai").show();
                    return false;
                  }
                }
            }
        };
        $("#theForm").ajaxForm(options);
    });
</script>
</html>
