.top_r
{
    float: right;
    margin-top: 6px;
    margin-right: 8px;
}

#table{table-layout: fixed;}
#table td{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.width1{width: 60px;}
.width2{width: 150px;}
.width3{width:60px;}
.width4{width:135px;}
