
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>角色管理</title>
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/css/unicorn.main.css" />
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/css/unicorn.jcs.css" class="skin-color" />
    <link href="__PUBLIC__/Azureadmin/Scripts/Lib/artDialog/skins/twitter.css" rel="stylesheet"/>
    <link href="__PUBLIC__/Azureadmin/Content/css/global.css" rel="stylesheet"/>

    
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/RoleManager/index.css" />
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Azureadmin/Content/zTreeStyle/zTreeStyle.css" />


</head>
<body>
    <link href="__PUBLIC__/Azureadmin/Content/Home/_partialhead.css" rel="stylesheet" />
    <link href="__PUBLIC__/Azureadmin/Content/ComMessage/commessage.css" rel="stylesheet" />
    <script src="__PUBLIC__/Azureadmin/Scripts/Lib/jquery.js" type="text/javascript"></script>
    <script src="__PUBLIC__/Azureadmin/Scripts/Home/_partialhead.js" type="text/javascript"></script>
    <script src="__PUBLIC__/Azureadmin/Scripts/ComMessage/ComMessage-common.js"></script>

<div id="header">
    <h1><span>机构服务平台</span></h1>
</div>

<include file="Public:welcome" />

<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        
        
        <li><a href="/Home/HelpPage" target="_blank"><span class="text">帮助</span></a></li>
    </ul>
</div>

  <include file="Public:navigate" />
    
    <div id="content">
        <div id="breadcrumb"><a href="/Home/Index"><i class="icon-home"></i>欢迎</a><a href="__APP__/Azureadmin/RoleManager/Index" class="current">角色管理</a></div>
        
        <div class="container-fluid">
            
<div class="widget-box">
    <div class="widget-title">
        <h5>角色管理</h5>
        <button onclick="a()" class="btn btn-primary btn-mini top_r">增加</button>
        <button onclick="d()" class="btn btn-mini top_r">刷新</button>
    </div>
    <div class="widget-content nopadding">
        <div class="search"><div>机构全称(模糊)：</div>
        <div><input id="txtSearchCompany" type="text" /></div>
        <div><button class="btn btn-primary" onclick="e()">查询</button></div>
        <div style="clear: left; float: none;"></div>
    </div>
    <div id="grid">
        <table class="table table-bordered data-table dataTable">
            <thead>
                <th class="ui-state-default width1">编号</th>
                <th class="ui-state-default width3">角色名称</th>
                <th class="ui-state-default">所属机构</th>
                <th class="ui-state-default width2">操作</th>
            </thead>
            <tbody>
                <volist name="list" id="item">
                <tr>
                    <td>{$item.RoleId}</td>
                    <td>{$item.RoleName}</td>
                    <td>
                    <if condition="$item.ComAllName eq ''">
                    平台
                    <else />
                    {$item.ComAllName}
                    </if>
                    </td>
                    <td><button onclick="b({$item.RoleId})" class="btn btn-primary btn-mini">修改</button>&nbsp;</td>
                </tr>
                </volist>
            </tbody>
        </table>

        <div class="dataTables_wrapper">
            <div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix">
                <div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers">
                    <a href="javascript:;" class="first ui-corner-tl ui-corner-bl fg-button ui-button ui-state-default ui-state-disabled" title="首页" >首页</a>
                    <span>
                        <a currpage="1" class="fg-button ui-button ui-state-default ui-state-disabled" href="javascript:;" title="第1页">1</a><a href="javascript:;" onclick="$('#grid').load('/RoleManager/GetTable?page=2&company= #grid');"  class="fg-button ui-button ui-state-default">2</a>
                    </span>
                    <a href="javascript:;" onclick="$('#grid').load('/RoleManager/GetTable?page=2&company= #grid');" class="last ui-corner-tr ui-corner-br fg-button ui-button ui-state-default"  title="末页">末页</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


            
        </div>
    </div>
    <script src="__PUBLIC__/Azureadmin/Scripts/Lib/jquery.js"></script>
<script src="__PUBLIC__/Azureadmin/Scripts/Lib/bootstrap.js"></script>
<script src="__PUBLIC__/Azureadmin/Scripts/Lib/menu.js"></script>
<script src="__PUBLIC__/Azureadmin/Scripts/Lib/require.js"></script>
<script src="__PUBLIC__/Azureadmin/Scripts/config.js"></script>
<script src="__PUBLIC__/Azureadmin/Scripts/common.js"></script>

    <script type="text/javascript">
        $('#breadcrumb a:last-child').css('background-image', 'none');
        $(window).resize(function () {
            var height = $('#sidebar>ul').height() + 100;
            if (height < 600) {
                height = 600;
            }
            $('#content').css('min-height', height + 'px');
        }).resize();
    </script>
    
    <script type="text/javascript" src="__PUBLIC__/Azureadmin/Scripts/Lib/select2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Azureadmin/Scripts/Lib/jquery.uniform.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Azureadmin/Scripts/Lib/jquery.ztree.core-3.5.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Azureadmin/Scripts/Lib/jquery.ztree.excheck-3.5.min.js"></script>
    <script type="text/javascript">
        function a() { require(["RoleManager/index"], function (o) { o.add(); }); }
        function b(a) { require(["RoleManager/index"], function (o) { o.update(a); }); }
        function c(a) { require(["RoleManager/index"], function (o) { o.del(a); }); }
        function d() { require(["RoleManager/index"], function (o) { o.refresh(); }); }
        function e() { require(["RoleManager/index"], function (o) { o.search(); }); }
    </script>

</body>
</html>
